Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

ci: use pgvector postgres for backend migrations
  .github/workflows/performance-testing.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-coverage.yml
Owners: @devops-team

fix: repair rag validation migrations and eval reporting
  .github/workflows/performance-testing.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-coverage.yml
  .gitignore
  backend/.env.example
  backend/.env.production.template
  backend/.env.test.example
  backend/config/knowledge/sources.json
  backend/config/metrics.js
  backend/controllers/knowledgeController.js
  backend/docker-compose.yml
  backend/docs/KNOWLEDGE_RETRIEVAL.md
  backend/index.js
  backend/middleware/adminGuard.js
  backend/package.json
  backend/prisma/migrations/20260720000000_add_knowledge_retrieval/migration.sql
  backend/prisma/migrations/20260720010000_add_user_push_token/migration.sql
  backend/prisma/migrations/20260720011000_restore_vehicle_image_url/migration.sql
  backend/prisma/schema.prisma
  backend/routes/knowledgeAdmin.js
  backend/routes/v1/index.js
  backend/scripts/knowledge-eval.js
  backend/scripts/knowledge-index.js
  backend/services/email.js
  backend/services/knowledge/config.js
  backend/services/knowledge/indexer.js
  backend/services/knowledge/providers.js
  backend/services/knowledge/repository.js
  backend/services/knowledge/retrieval.js
  backend/services/knowledge/text.js
  backend/tests/knowledge.unit.test.js
  backend/tests/rateLimit.test.js
  backend/validators/knowledge.js
Owners: @devops-team, @parkpal-team, @security-team, @backend-team, @frontend-team, @bryanangeloyaneza, @database-admin, @qa-team

ci: fail backend deploy on migration or health errors
  .github/workflows/deploy-backend.yml
Owners: @devops-team

fix(mobile): stabilize Explore Map refresh and recenter
  frontend/mobile/src/__tests__/screens/ExploreMap.test.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
Owners: @qa-team, @mobile-team

docs: update status report after dev merge
  STATUS_REPORT.md
Owners: @parkpal-team

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team
