Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

feat(backend): Complete Secret Manager migration + API timeout fix
  .claude/session-start-instructions.md
  API_TIMEOUT_FIX.md
  PHASE2_COMPLETION_SUMMARY.md
  SECRET_MANAGER_MIGRATION_COMPLETE.md
  backend/.env.example
  backend/config/redis.js
  backend/controllers/alertsController.js
  backend/controllers/authController.js
  backend/controllers/marketplaceController.js
  backend/scripts/setup-secrets.sh
  backend/services/auth.js
  backend/services/qrcode.js
  backend/services/websocket.js
  backend/tests/marketplace.test.js
  docs/API_KEY_MANAGEMENT.md
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @qa-team, @documentation-team

docs: Update project documentation for Phases 3 & 4 completion
  .claude/session-start-instructions.md
  BACKEND_SECURITY_PERFORMANCE_AUDIT.md
  CONTRACT_TESTING_SUMMARY.md
  PHASE_3_4_COMPLETION.md
  README.md
  frontend/mobile/PROJECT_SUMMARY.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza, @mobile-team

feat(payments): Add PayMongo API key test script
  backend/test-paymongo.js
Owners: @backend-team, @bryanangeloyaneza

fix(mobile): Complete booking flow and marketplace integration
  .claude/agents/mobile-developer.md
  BACKEND_ARCHITECTURE_REVIEW.md
  PHASE1_COMPLETION_SUMMARY.md
  PROJECT_SUMMARY.md
  backend/config/redis.js
  backend/index.js
  backend/prisma/seed-makati.js
  backend/routes/config.js
  backend/tests/handshake-critical.test.js
  docs/DEVELOPMENT_ROADMAP.md
  frontend/mobile/app.json
  frontend/mobile/babel.config.js
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/navigation/BottomTabNavigator.tsx
  frontend/mobile/src/screens/ExploreScreen.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetailScreen.tsx
  frontend/mobile/src/screens/ReservationScreen.tsx
  frontend/mobile/src/screens/SearchScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/bookingSlice.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/mobile/test-api.js
  frontend/web/WEB_DASHBOARD_STATUS.md
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @qa-team, @documentation-team, @frontend-team, @mobile-team

feat(security): Integrate PayMongo with GCP Secret Manager
  backend/.env.example
  backend/scripts/upload-secrets.js
  backend/services/paymongo.js
  docs/GCP_SECRET_MANAGER_SETUP.md
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @documentation-team

feat(mobile): Complete Phase 2 - Core mobile features and infrastructure
  .github/workflows/mobile-eas-build.yml
  .github/workflows/mobile-env-check.yml
  .gitignore
  frontend/mobile/.env.development
  frontend/mobile/.env.example
  frontend/mobile/.env.production
  frontend/mobile/.env.staging
  frontend/mobile/.gitignore
  frontend/mobile/ARCHITECTURE_DIAGRAM.md
  frontend/mobile/ENV_SETUP_README.md
  frontend/mobile/GOOGLE_MAPS_IMPLEMENTATION_SUMMARY.md
  frontend/mobile/GOOGLE_MAPS_SETUP.md
  frontend/mobile/IMPLEMENTATION_CHECKLIST.md
  frontend/mobile/QUICK_START.md
  frontend/mobile/README_IMPLEMENTATION.md
  frontend/mobile/app.config.js
  frontend/mobile/app.json
  frontend/mobile/package.json
  frontend/mobile/scripts/check-env.js
  frontend/mobile/scripts/fetch-secrets-from-gcp.js
  frontend/mobile/scripts/setup-eas-secrets.sh
  frontend/mobile/setup.sh
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/screens/PaymentMethodsScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
Owners: @devops-team, @parkpal-team, @backend-team, @mobile-team, @bryanangeloyaneza, @frontend-team

feat(payments): Complete PayMongo integration for mobile and web
  .claude/session-start-instructions.md
  PAYMONGO_INTEGRATION_COMPLETE.md
  frontend/mobile/src/screens/ReservationScreen.tsx
  frontend/web/src/screens/Payment.jsx
Owners: @parkpal-team, @mobile-team, @frontend-team, @bryanangeloyaneza

feat(mobile): Complete PayMongo payment UI integration
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/PaymentFailedScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/PaymentSuccessScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/types/index.ts
Owners: @mobile-team, @bryanangeloyaneza

docs: Update roadmap and progress - Phase 1 complete (100%)
  .claude/session-start-instructions.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/MVP_ROADMAP_Q1_2026.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

feat(backend): Complete Secret Manager migration + API timeout fix
  .claude/session-start-instructions.md
  API_TIMEOUT_FIX.md
  PHASE2_COMPLETION_SUMMARY.md
  SECRET_MANAGER_MIGRATION_COMPLETE.md
  backend/.env.example
  backend/config/redis.js
  backend/controllers/alertsController.js
  backend/controllers/authController.js
  backend/controllers/marketplaceController.js
  backend/scripts/setup-secrets.sh
  backend/services/auth.js
  backend/services/qrcode.js
  backend/services/websocket.js
  backend/tests/marketplace.test.js
  docs/API_KEY_MANAGEMENT.md
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @qa-team, @documentation-team

feat(mobile): Phase 3 - UX polish, accessibility, and comprehensive testing
  frontend/mobile/DEVELOPER_QUICK_REFERENCE.md
  frontend/mobile/PHASE3_IMPLEMENTATION_SUMMARY.md
  frontend/mobile/jest.config.js
  frontend/mobile/package.json
  frontend/mobile/src/__tests__/integration/booking-flow.test.tsx
  frontend/mobile/src/__tests__/integration/search-filter-flow.test.tsx
  frontend/mobile/src/components/Button.tsx
  frontend/mobile/src/components/ConfirmDialog.tsx
  frontend/mobile/src/components/EmptyState.tsx
  frontend/mobile/src/components/RefreshableScrollView.tsx
  frontend/mobile/src/components/SkeletonLoader.tsx
  frontend/mobile/src/components/Toast.tsx
  frontend/mobile/src/screens/HomeScreen.tsx
  frontend/mobile/src/store/slices/__tests__/authSlice.test.ts
  frontend/mobile/src/store/slices/__tests__/bookingSlice.test.ts
  frontend/mobile/src/store/slices/__tests__/parkingSlice.test.ts
  frontend/mobile/src/utils/accessibility.ts
  frontend/mobile/src/utils/errorMessages.ts
  frontend/mobile/src/utils/haptics.ts
  frontend/mobile/src/utils/performance.ts
Owners: @mobile-team, @bryanangeloyaneza, @backend-team, @frontend-team, @qa-team

feat(security): Integrate PayMongo with GCP Secret Manager
  backend/.env.example
  backend/scripts/upload-secrets.js
  backend/services/paymongo.js
  docs/GCP_SECRET_MANAGER_SETUP.md
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @documentation-team

docs: Update roadmap and progress - Phase 1 complete (100%)
  .claude/session-start-instructions.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/MVP_ROADMAP_Q1_2026.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

feat(payments): Add PayMongo API key test script
  backend/test-paymongo.js
Owners: @backend-team, @bryanangeloyaneza

feat(mobile): Complete PayMongo payment UI integration
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/PaymentFailedScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/PaymentSuccessScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/types/index.ts
Owners: @mobile-team, @bryanangeloyaneza

fix(mobile): Complete booking flow and marketplace integration
  .claude/agents/mobile-developer.md
  BACKEND_ARCHITECTURE_REVIEW.md
  PHASE1_COMPLETION_SUMMARY.md
  PROJECT_SUMMARY.md
  backend/config/redis.js
  backend/index.js
  backend/prisma/seed-makati.js
  backend/routes/config.js
  backend/tests/handshake-critical.test.js
  docs/DEVELOPMENT_ROADMAP.md
  frontend/mobile/app.json
  frontend/mobile/babel.config.js
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/navigation/BottomTabNavigator.tsx
  frontend/mobile/src/screens/ExploreScreen.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetailScreen.tsx
  frontend/mobile/src/screens/ReservationScreen.tsx
  frontend/mobile/src/screens/SearchScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/bookingSlice.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/mobile/test-api.js
  frontend/web/WEB_DASHBOARD_STATUS.md
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @qa-team, @documentation-team, @frontend-team, @mobile-team

feat(payments): Complete PayMongo integration for mobile and web
  .claude/session-start-instructions.md
  PAYMONGO_INTEGRATION_COMPLETE.md
  frontend/mobile/src/screens/ReservationScreen.tsx
  frontend/web/src/screens/Payment.jsx
Owners: @parkpal-team, @mobile-team, @frontend-team, @bryanangeloyaneza

feat(mobile): Complete Phase 2 - Core mobile features and infrastructure
  .github/workflows/mobile-eas-build.yml
  .github/workflows/mobile-env-check.yml
  .gitignore
  frontend/mobile/.env.development
  frontend/mobile/.env.example
  frontend/mobile/.env.production
  frontend/mobile/.env.staging
  frontend/mobile/.gitignore
  frontend/mobile/ARCHITECTURE_DIAGRAM.md
  frontend/mobile/ENV_SETUP_README.md
  frontend/mobile/GOOGLE_MAPS_IMPLEMENTATION_SUMMARY.md
  frontend/mobile/GOOGLE_MAPS_SETUP.md
  frontend/mobile/IMPLEMENTATION_CHECKLIST.md
  frontend/mobile/QUICK_START.md
  frontend/mobile/README_IMPLEMENTATION.md
  frontend/mobile/app.config.js
  frontend/mobile/app.json
  frontend/mobile/package.json
  frontend/mobile/scripts/check-env.js
  frontend/mobile/scripts/fetch-secrets-from-gcp.js
  frontend/mobile/scripts/setup-eas-secrets.sh
  frontend/mobile/setup.sh
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/screens/PaymentMethodsScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
Owners: @devops-team, @parkpal-team, @backend-team, @mobile-team, @bryanangeloyaneza, @frontend-team

feat(backend): Phase 4 - Production readiness (Security 100/100, Performance 10x)
  PHASE_4_BETA_LAUNCH_COMPLETION.md
  PHASE_4_SUMMARY.txt
  backend/.env.example
  backend/config/env-validation.js
  backend/config/logger.js
  backend/config/metrics.js
  backend/controllers/marketplaceController.js
  backend/index.js
  backend/logs/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/routes/parking.js
  backend/services/cache.js
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @frontend-team

feat(backend): Complete Secret Manager migration + API timeout fix
  .claude/session-start-instructions.md
  API_TIMEOUT_FIX.md
  PHASE2_COMPLETION_SUMMARY.md
  SECRET_MANAGER_MIGRATION_COMPLETE.md
  backend/.env.example
  backend/config/redis.js
  backend/controllers/alertsController.js
  backend/controllers/authController.js
  backend/controllers/marketplaceController.js
  backend/scripts/setup-secrets.sh
  backend/services/auth.js
  backend/services/qrcode.js
  backend/services/websocket.js
  backend/tests/marketplace.test.js
  docs/API_KEY_MANAGEMENT.md
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @qa-team, @documentation-team

feat(mobile): Complete Phase 2 - Core mobile features and infrastructure
  .github/workflows/mobile-eas-build.yml
  .github/workflows/mobile-env-check.yml
  .gitignore
  frontend/mobile/.env.development
  frontend/mobile/.env.example
  frontend/mobile/.env.production
  frontend/mobile/.env.staging
  frontend/mobile/.gitignore
  frontend/mobile/ARCHITECTURE_DIAGRAM.md
  frontend/mobile/ENV_SETUP_README.md
  frontend/mobile/GOOGLE_MAPS_IMPLEMENTATION_SUMMARY.md
  frontend/mobile/GOOGLE_MAPS_SETUP.md
  frontend/mobile/IMPLEMENTATION_CHECKLIST.md
  frontend/mobile/QUICK_START.md
  frontend/mobile/README_IMPLEMENTATION.md
  frontend/mobile/app.config.js
  frontend/mobile/app.json
  frontend/mobile/package.json
  frontend/mobile/scripts/check-env.js
  frontend/mobile/scripts/fetch-secrets-from-gcp.js
  frontend/mobile/scripts/setup-eas-secrets.sh
  frontend/mobile/setup.sh
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/screens/PaymentMethodsScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
Owners: @devops-team, @parkpal-team, @backend-team, @mobile-team, @bryanangeloyaneza, @frontend-team

feat(payments): Add PayMongo API key test script
  backend/test-paymongo.js
Owners: @backend-team, @bryanangeloyaneza

fix(mobile): Complete booking flow and marketplace integration
  .claude/agents/mobile-developer.md
  BACKEND_ARCHITECTURE_REVIEW.md
  PHASE1_COMPLETION_SUMMARY.md
  PROJECT_SUMMARY.md
  backend/config/redis.js
  backend/index.js
  backend/prisma/seed-makati.js
  backend/routes/config.js
  backend/tests/handshake-critical.test.js
  docs/DEVELOPMENT_ROADMAP.md
  frontend/mobile/app.json
  frontend/mobile/babel.config.js
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/navigation/BottomTabNavigator.tsx
  frontend/mobile/src/screens/ExploreScreen.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetailScreen.tsx
  frontend/mobile/src/screens/ReservationScreen.tsx
  frontend/mobile/src/screens/SearchScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/bookingSlice.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/mobile/test-api.js
  frontend/web/WEB_DASHBOARD_STATUS.md
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @qa-team, @documentation-team, @frontend-team, @mobile-team

feat(payments): Complete PayMongo integration for mobile and web
  .claude/session-start-instructions.md
  PAYMONGO_INTEGRATION_COMPLETE.md
  frontend/mobile/src/screens/ReservationScreen.tsx
  frontend/web/src/screens/Payment.jsx
Owners: @parkpal-team, @mobile-team, @frontend-team, @bryanangeloyaneza

feat(mobile): Complete PayMongo payment UI integration
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/PaymentFailedScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/PaymentSuccessScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/types/index.ts
Owners: @mobile-team, @bryanangeloyaneza

feat(security): Integrate PayMongo with GCP Secret Manager
  backend/.env.example
  backend/scripts/upload-secrets.js
  backend/services/paymongo.js
  docs/GCP_SECRET_MANAGER_SETUP.md
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @documentation-team

docs: Update roadmap and progress - Phase 1 complete (100%)
  .claude/session-start-instructions.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/MVP_ROADMAP_Q1_2026.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

feat(backend): Complete Secret Manager migration + API timeout fix
  .claude/session-start-instructions.md
  API_TIMEOUT_FIX.md
  PHASE2_COMPLETION_SUMMARY.md
  SECRET_MANAGER_MIGRATION_COMPLETE.md
  backend/.env.example
  backend/config/redis.js
  backend/controllers/alertsController.js
  backend/controllers/authController.js
  backend/controllers/marketplaceController.js
  backend/scripts/setup-secrets.sh
  backend/services/auth.js
  backend/services/qrcode.js
  backend/services/websocket.js
  backend/tests/marketplace.test.js
  docs/API_KEY_MANAGEMENT.md
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @qa-team, @documentation-team

feat(web): Phase 4 - Production deployment infrastructure and testing
  frontend/web/.dockerignore
  frontend/web/.env.production.example
  frontend/web/.github/workflows/deploy.yml
  frontend/web/DEPLOYMENT.md
  frontend/web/Dockerfile
  frontend/web/PHASE4_IMPLEMENTATION_SUMMARY.md
  frontend/web/PRODUCTION_READINESS.md
  frontend/web/QUICK_START.md
  frontend/web/index.html
  frontend/web/nginx.conf
  frontend/web/package.json
  frontend/web/public/service-worker.js
  frontend/web/src/App.tsx
  frontend/web/src/api.ts
  frontend/web/src/components/HealthCheck.tsx
  frontend/web/src/components/LazyImage.tsx
  frontend/web/src/components/PaymentMethodCard.tsx
  frontend/web/src/contexts/ToastContext.tsx
  frontend/web/src/index.tsx
  frontend/web/src/screens/NotFound.tsx
  frontend/web/src/screens/ServerError.tsx
  frontend/web/src/screens/__tests__/NotFound.test.tsx
  frontend/web/src/screens/__tests__/Payment.test.tsx
  frontend/web/src/test/accessibility.test.tsx
  frontend/web/src/test/integration/payment-flow.test.tsx
  frontend/web/src/utils/performance.ts
  frontend/web/vite.config.mjs
Owners: @frontend-team, @bryanangeloyaneza, @devops-team, @backend-team, @qa-team

Feat/phase 3 mobile ux testing (#31)
  frontend/mobile/DEVELOPER_QUICK_REFERENCE.md
  frontend/mobile/PHASE3_IMPLEMENTATION_SUMMARY.md
  frontend/mobile/jest.config.js
  frontend/mobile/package.json
  frontend/mobile/src/__tests__/integration/booking-flow.test.tsx
  frontend/mobile/src/__tests__/integration/search-filter-flow.test.tsx
  frontend/mobile/src/components/Button.tsx
  frontend/mobile/src/components/ConfirmDialog.tsx
  frontend/mobile/src/components/EmptyState.tsx
  frontend/mobile/src/components/RefreshableScrollView.tsx
  frontend/mobile/src/components/SkeletonLoader.tsx
  frontend/mobile/src/components/Toast.tsx
  frontend/mobile/src/screens/HomeScreen.tsx
  frontend/mobile/src/store/slices/__tests__/authSlice.test.ts
  frontend/mobile/src/store/slices/__tests__/bookingSlice.test.ts
  frontend/mobile/src/store/slices/__tests__/parkingSlice.test.ts
  frontend/mobile/src/utils/accessibility.ts
  frontend/mobile/src/utils/errorMessages.ts
  frontend/mobile/src/utils/haptics.ts
  frontend/mobile/src/utils/performance.ts
Owners: @mobile-team, @bryanangeloyaneza, @backend-team, @frontend-team, @qa-team

Feat/phase 4 backend production (#32)
  PHASE_4_BETA_LAUNCH_COMPLETION.md
  PHASE_4_SUMMARY.txt
  backend/config/env-validation.js
  backend/config/logger.js
  backend/config/metrics.js
  backend/controllers/marketplaceController.js
  backend/index.js
  backend/logs/.gitignore
  backend/package-lock.json
  backend/package.json
  backend/routes/parking.js
  backend/services/cache.js
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @frontend-team

fix(web): Add terser dependency for production builds
  frontend/web/package.json
Owners: @backend-team, @frontend-team

fix(ci): Update Node.js version from 18 to 20 in GitHub Actions
  .github/workflows/pr-checks.yml
Owners: @devops-team

chore(web): Update package-lock.json with terser dependency
  frontend/web/package-lock.json
Owners: @backend-team, @frontend-team

Feat/phase 4 web production (#33)
  .github/workflows/pr-checks.yml
  frontend/web/.dockerignore
  frontend/web/.env.production.example
  frontend/web/.github/workflows/deploy.yml
  frontend/web/DEPLOYMENT.md
  frontend/web/Dockerfile
  frontend/web/PHASE4_IMPLEMENTATION_SUMMARY.md
  frontend/web/PRODUCTION_READINESS.md
  frontend/web/QUICK_START.md
  frontend/web/index.html
  frontend/web/nginx.conf
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/public/service-worker.js
  frontend/web/src/App.tsx
  frontend/web/src/api.ts
  frontend/web/src/components/HealthCheck.tsx
  frontend/web/src/components/LazyImage.tsx
  frontend/web/src/components/PaymentMethodCard.tsx
  frontend/web/src/contexts/ToastContext.tsx
  frontend/web/src/index.tsx
  frontend/web/src/screens/NotFound.tsx
  frontend/web/src/screens/ServerError.tsx
  frontend/web/src/screens/__tests__/NotFound.test.tsx
  frontend/web/src/screens/__tests__/Payment.test.tsx
  frontend/web/src/test/accessibility.test.tsx
  frontend/web/src/test/integration/payment-flow.test.tsx
  frontend/web/src/utils/performance.ts
  frontend/web/vite.config.mjs
Owners: @devops-team, @frontend-team, @bryanangeloyaneza, @backend-team, @qa-team

fix(mobile): Add test infrastructure - jest scripts and dependencies
  frontend/mobile/jest.config.js
  frontend/mobile/package.json
Owners: @backend-team, @frontend-team

fix(web): Fix TypeScript errors - 29 errors to 0
  frontend/web/src/global.d.ts
  frontend/web/src/test/integration/payment-flow.test.tsx
  frontend/web/tsconfig.json
Owners: @frontend-team, @bryanangeloyaneza, @qa-team, @backend-team

fix(backend): Harden production security - JWT, DB, SSL
  backend/.env.production.template
  backend/SECURITY_HARDENING.md
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza

Fix/mobile test infrastructure (#34)
  frontend/mobile/package.json
Owners: @backend-team, @frontend-team

Fix/web typescript errors (#35)
  frontend/web/src/global.d.ts
  frontend/web/tsconfig.json
Owners: @frontend-team, @bryanangeloyaneza, @backend-team

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team
