Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team

test: stabilize web auth form tests
  frontend/web/src/__tests__/auth-integration.test.tsx
  frontend/web/src/screens/Login.tsx
  frontend/web/src/screens/__tests__/Login.test.tsx
Owners: @qa-team, @frontend-team, @bryanangeloyaneza

test: stabilize web auth form tests (#163)
  frontend/web/src/__tests__/auth-integration.test.tsx
  frontend/web/src/screens/Login.tsx
  frontend/web/src/screens/__tests__/Login.test.tsx
Owners: @qa-team, @frontend-team, @bryanangeloyaneza

docs: update status report after PR 163
  STATUS_REPORT.md
Owners: @parkpal-team

docs: update status report after PR 163 (#164)
  STATUS_REPORT.md
Owners: @parkpal-team

feat: show account standing on home
  frontend/mobile/src/__tests__/screens/CoreListStates.test.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
Owners: @qa-team, @mobile-team

feat: show account standing on home (#165)
  frontend/mobile/src/__tests__/screens/CoreListStates.test.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
Owners: @qa-team, @mobile-team

docs: update status report after PR 165
  STATUS_REPORT.md
Owners: @parkpal-team

docs: update status report after PR 165 (#166)
  STATUS_REPORT.md
Owners: @parkpal-team

docs: add PR 166 cleanup handover
  docs/plans/2026-05-25-pr166-cleanup-handover.md
Owners: @documentation-team, @bryanangeloyaneza

docs: add PR 166 cleanup handover (#167)
  docs/plans/2026-05-25-pr166-cleanup-handover.md
Owners: @documentation-team, @bryanangeloyaneza

feat: add knowledge model routing metadata
  .agents/knowledge/README.md
  .agents/knowledge/compact/status.jsonl
  .agents/knowledge/compact/workflow.jsonl
  .agents/knowledge/source-map.json
  .agents/skills/parkpal-knowledge/SKILL.md
  AGENTS.md
  DOCUMENTATION.md
  backend/services/modelRouter.js
  backend/tests/modelRouter.test.js
  docs/agent-knowledge/SESSION_LEARNINGS.md
  docs/plans/2026-05-25-pr166-cleanup-handover.md
  package.json
  scripts/knowledge/build-compact-mirrors.js
  scripts/knowledge/build-index.js
  scripts/knowledge/context.js
  scripts/knowledge/model-routing-handoff.js
  scripts/knowledge/query.js
  scripts/knowledge/regression.js
  scripts/lib/modelRouter.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team, @qa-team

feat(knowledge): add model routing metadata (#168)
  .agents/knowledge/README.md
  .agents/knowledge/compact/status.jsonl
  .agents/knowledge/compact/workflow.jsonl
  .agents/knowledge/source-map.json
  .agents/skills/parkpal-knowledge/SKILL.md
  AGENTS.md
  DOCUMENTATION.md
  backend/services/modelRouter.js
  backend/tests/modelRouter.test.js
  docs/agent-knowledge/SESSION_LEARNINGS.md
  docs/plans/2026-05-25-pr166-cleanup-handover.md
  package.json
  scripts/knowledge/build-compact-mirrors.js
  scripts/knowledge/build-index.js
  scripts/knowledge/context.js
  scripts/knowledge/model-routing-handoff.js
  scripts/knowledge/query.js
  scripts/knowledge/regression.js
  scripts/lib/modelRouter.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team, @qa-team

fix(listings): upload photos after create
  backend/controllers/marketplaceController.js
  backend/tests/marketplace.test.js
  backend/tests/marketplaceListingPhotos.test.js
  docs/plans/2026-05-26-knowledge-listing-create-hot-path-handover.md
  frontend/mobile/src/__tests__/screens/ListYourSpot.helpers.test.ts
  frontend/mobile/src/__tests__/screens/MyListingsScreen.states.test.tsx
  frontend/mobile/src/__tests__/store/marketplaceSlice.test.ts
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/mediaApi.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/mobile/src/utils/listingForm.ts
Owners: @backend-team, @qa-team, @documentation-team, @bryanangeloyaneza, @mobile-team

fix(listings): upload photos after create (#169)
  backend/controllers/marketplaceController.js
  backend/tests/marketplace.test.js
  backend/tests/marketplaceListingPhotos.test.js
  docs/plans/2026-05-26-knowledge-listing-create-hot-path-handover.md
  frontend/mobile/src/__tests__/screens/ListYourSpot.helpers.test.ts
  frontend/mobile/src/__tests__/screens/MyListingsScreen.states.test.tsx
  frontend/mobile/src/__tests__/store/marketplaceSlice.test.ts
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/mediaApi.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/mobile/src/utils/listingForm.ts
Owners: @backend-team, @qa-team, @documentation-team, @bryanangeloyaneza, @mobile-team

fix(mobile): polish auth and expired bookings
  frontend/mobile/src/__tests__/screens/AuthScreen.test.tsx
  frontend/mobile/src/__tests__/screens/CoreListStates.test.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
Owners: @qa-team, @mobile-team

fix(mobile): polish auth and expired bookings (#170)
  frontend/mobile/src/__tests__/screens/AuthScreen.test.tsx
  frontend/mobile/src/__tests__/screens/CoreListStates.test.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
Owners: @qa-team, @mobile-team

fix(mobile): surface signup validation errors
  .agents/knowledge/source-map.json
  frontend/mobile/src/__tests__/navigation/AppNavigator.test.tsx
  frontend/mobile/src/__tests__/screens/AuthScreen.test.tsx
  frontend/mobile/src/components/AuthTransitionScreen.tsx
  frontend/mobile/src/navigation/AppNavigator.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/store/slices/__tests__/authSlice.test.ts
  frontend/mobile/src/store/slices/authSlice.ts
  frontend/mobile/src/types/index.ts
  frontend/mobile/src/utils/helpers.ts
  scripts/knowledge/context.js
  scripts/knowledge/query.js
  scripts/knowledge/regression.js
Owners: @backend-team, @frontend-team, @qa-team, @mobile-team, @bryanangeloyaneza, @parkpal-team

fix(mobile): surface signup validation errors (#171)
  .agents/knowledge/source-map.json
  frontend/mobile/src/__tests__/navigation/AppNavigator.test.tsx
  frontend/mobile/src/__tests__/screens/AuthScreen.test.tsx
  frontend/mobile/src/components/AuthTransitionScreen.tsx
  frontend/mobile/src/navigation/AppNavigator.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/store/slices/__tests__/authSlice.test.ts
  frontend/mobile/src/store/slices/authSlice.ts
  frontend/mobile/src/types/index.ts
  frontend/mobile/src/utils/helpers.ts
  scripts/knowledge/context.js
  scripts/knowledge/query.js
  scripts/knowledge/regression.js
Owners: @backend-team, @frontend-team, @qa-team, @mobile-team, @bryanangeloyaneza, @parkpal-team

docs: update status report after PR 171 merge
  STATUS_REPORT.md
Owners: @parkpal-team

docs: update status report after PR 171 merge (#172)
  STATUS_REPORT.md
Owners: @parkpal-team

feat: add knowledge hit-rate scanner
  package.json
  scripts/knowledge/scan-hit-rate.js
Owners: @backend-team, @frontend-team, @parkpal-team

feat: add knowledge hit-rate scanner (#173)
  package.json
  scripts/knowledge/scan-hit-rate.js
Owners: @backend-team, @frontend-team, @parkpal-team

docs: update status report after PR 173 merge
  STATUS_REPORT.md
Owners: @parkpal-team

docs: update status report after PR 173 merge (#174)
  STATUS_REPORT.md
Owners: @parkpal-team

fix: refresh compact status mirrors
  .agents/knowledge/compact/status.jsonl
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

fix: refresh compact status mirrors (#175)
  .agents/knowledge/compact/status.jsonl
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

docs: update status report after PR 175 merge
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

docs: update status report after PR 175 merge (#176)
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

fix: add retrieval miss routing coverage
  .agents/knowledge/README.md
  .agents/knowledge/compact/workflow.jsonl
  .agents/knowledge/source-map.json
  scripts/knowledge/query.js
  scripts/knowledge/regression.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

fix: add retrieval miss routing coverage (#177)
  .agents/knowledge/README.md
  .agents/knowledge/compact/workflow.jsonl
  .agents/knowledge/source-map.json
  scripts/knowledge/query.js
  scripts/knowledge/regression.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

docs: update status report after PR 177 merge
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

docs: update status report after PR 177 merge (#178)
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

fix: stabilize mobile google sign-in
  backend/.env.example
  backend/.env.production.template
  backend/.env.test.example
  backend/config/env-validation.js
  backend/controllers/googleAuthController.js
  backend/routes/googleAuth.js
  backend/tests/googleAuth.test.js
  frontend/mobile/.env.development
  frontend/mobile/.env.example
  frontend/mobile/.env.local.example
  frontend/mobile/.env.production
  frontend/mobile/.env.staging
  frontend/mobile/GOOGLE_OAUTH_SETUP.md
  frontend/mobile/README.md
  frontend/mobile/TESTING.md
  frontend/mobile/app.config.js
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/scripts/check-env.js
  frontend/mobile/scripts/setup-eas-secrets.sh
  frontend/mobile/src/__tests__/screens/AuthScreen.test.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/services/api.ts
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @qa-team, @mobile-team, @documentation-team, @frontend-team

fix: stabilize mobile google sign-in (#179)
  backend/.env.example
  backend/.env.production.template
  backend/.env.test.example
  backend/config/env-validation.js
  backend/controllers/googleAuthController.js
  backend/routes/googleAuth.js
  backend/tests/googleAuth.test.js
  frontend/mobile/.env.development
  frontend/mobile/.env.example
  frontend/mobile/.env.local.example
  frontend/mobile/.env.production
  frontend/mobile/.env.staging
  frontend/mobile/GOOGLE_OAUTH_SETUP.md
  frontend/mobile/README.md
  frontend/mobile/TESTING.md
  frontend/mobile/app.config.js
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/scripts/check-env.js
  frontend/mobile/scripts/setup-eas-secrets.sh
  frontend/mobile/src/__tests__/screens/AuthScreen.test.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/services/api.ts
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @qa-team, @mobile-team, @documentation-team, @frontend-team

docs: update status report after PR 179 merge
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

docs: update status report after PR 179 merge (#180)
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

feat: preserve social auth native build work
  .gitignore
  backend/.env.example
  backend/controllers/appleAuthController.js
  backend/controllers/facebookAuthController.js
  backend/controllers/googleAuthController.js
  backend/prisma/migrations/20260718000000_add_apple_facebook_auth/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed-near-location.js
  backend/routes/appleAuth.js
  backend/routes/facebookAuth.js
  backend/routes/v1/index.js
  backend/services/socialAuthService.js
  frontend/mobile/.env.development
  frontend/mobile/.env.local.example
  frontend/mobile/App.tsx
  frontend/mobile/app.config.js
  frontend/mobile/eas.json
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/__tests__/store/storePersistence.test.ts
  frontend/mobile/src/config/api.config.ts
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/services/__tests__/notifications.test.ts
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/notifications.ts
  frontend/mobile/src/store/index.ts
  frontend/mobile/src/store/persistence.ts
  frontend/mobile/src/store/slices/__tests__/authSlice.test.ts
  frontend/mobile/src/store/slices/authSlice.ts
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @database-admin, @bryanangeloyaneza, @mobile-team, @frontend-team, @qa-team

feat: integrate native auth and map stability
  .gitignore
  backend/.env.example
  backend/controllers/appleAuthController.js
  backend/controllers/facebookAuthController.js
  backend/controllers/googleAuthController.js
  backend/index.js
  backend/prisma/migrations/20260718000000_add_apple_facebook_auth/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed-near-location.js
  backend/routes/appleAuth.js
  backend/routes/facebookAuth.js
  backend/routes/v1/index.js
  backend/services/socialAuthService.js
  backend/tests/rateLimit.test.js
  frontend/mobile/.env.development
  frontend/mobile/.env.local.example
  frontend/mobile/App.tsx
  frontend/mobile/app.config.js
  frontend/mobile/eas.json
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/__tests__/components/ListState.test.tsx
  frontend/mobile/src/__tests__/screens/AuthScreen.test.tsx
  frontend/mobile/src/components/ListState.tsx
  frontend/mobile/src/config/api.config.ts
  frontend/mobile/src/screens/AddVehicleWizardScreen.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/services/__tests__/notifications.test.ts
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/notifications.ts
  frontend/mobile/src/store/index.ts
  frontend/mobile/src/store/persistence.ts
  frontend/mobile/src/store/slices/__tests__/authSlice.test.ts
  frontend/mobile/src/store/slices/__tests__/vehiclesSlice.test.ts
  frontend/mobile/src/store/slices/authSlice.ts
  frontend/mobile/src/store/slices/vehiclesSlice.ts
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @database-admin, @qa-team, @mobile-team, @frontend-team

feat: integrate native auth and map stability (#181)
  .gitignore
  backend/.env.example
  backend/controllers/appleAuthController.js
  backend/controllers/facebookAuthController.js
  backend/controllers/googleAuthController.js
  backend/index.js
  backend/prisma/migrations/20260718000000_add_apple_facebook_auth/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed-near-location.js
  backend/routes/appleAuth.js
  backend/routes/facebookAuth.js
  backend/routes/v1/index.js
  backend/services/socialAuthService.js
  backend/tests/rateLimit.test.js
  frontend/mobile/.env.development
  frontend/mobile/.env.local.example
  frontend/mobile/App.tsx
  frontend/mobile/app.config.js
  frontend/mobile/eas.json
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/__tests__/components/ListState.test.tsx
  frontend/mobile/src/__tests__/screens/AuthScreen.test.tsx
  frontend/mobile/src/components/ListState.tsx
  frontend/mobile/src/config/api.config.ts
  frontend/mobile/src/screens/AddVehicleWizardScreen.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/services/__tests__/notifications.test.ts
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/notifications.ts
  frontend/mobile/src/store/index.ts
  frontend/mobile/src/store/persistence.ts
  frontend/mobile/src/store/slices/__tests__/authSlice.test.ts
  frontend/mobile/src/store/slices/__tests__/vehiclesSlice.test.ts
  frontend/mobile/src/store/slices/authSlice.ts
  frontend/mobile/src/store/slices/vehiclesSlice.ts
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @database-admin, @qa-team, @mobile-team, @frontend-team

fix: repair rag validation migrations and eval reporting
  .gitignore
  backend/.env.example
  backend/.env.production.template
  backend/.env.test.example
  backend/config/knowledge/sources.json
  backend/config/metrics.js
  backend/controllers/knowledgeController.js
  backend/docker-compose.yml
  backend/docs/KNOWLEDGE_RETRIEVAL.md
  backend/index.js
  backend/middleware/adminGuard.js
  backend/package.json
  backend/prisma/migrations/20260720000000_add_knowledge_retrieval/migration.sql
  backend/prisma/migrations/20260720010000_add_user_push_token/migration.sql
  backend/prisma/migrations/20260720011000_restore_vehicle_image_url/migration.sql
  backend/prisma/schema.prisma
  backend/routes/knowledgeAdmin.js
  backend/routes/v1/index.js
  backend/scripts/knowledge-eval.js
  backend/scripts/knowledge-index.js
  backend/services/email.js
  backend/services/knowledge/config.js
  backend/services/knowledge/indexer.js
  backend/services/knowledge/providers.js
  backend/services/knowledge/repository.js
  backend/services/knowledge/retrieval.js
  backend/services/knowledge/text.js
  backend/tests/knowledge.unit.test.js
  backend/tests/rateLimit.test.js
  backend/validators/knowledge.js
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @frontend-team, @bryanangeloyaneza, @database-admin, @qa-team
