Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

Fix/backend production security (#36)
  backend/.env.production.template
  backend/SECURITY_HARDENING.md
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza

chore: Ignore generated TypeScript declaration files and test coverage
  frontend/mobile/.gitignore
  frontend/web/.gitignore
Owners: @mobile-team, @bryanangeloyaneza, @frontend-team

chore: Ignore generated TypeScript declaration files and test coverage (#37)
  frontend/mobile/.gitignore
  frontend/web/.gitignore
Owners: @mobile-team, @bryanangeloyaneza, @frontend-team

feat: Add comprehensive testing infrastructure and performance testing framework
  .claude/agents/test-automator.md
  .github/workflows/performance-testing.yml
  .github/workflows/test-coverage.yml
  COMPREHENSIVE_TESTING_ASSESSMENT.md
  PERFORMANCE_AND_TEST_AUTOMATION_SETUP.md
  frontend/web/dist/index.html
  frontend/web/src/vite-env.d.ts
  package.json
  performance-testing/README.md
  performance-testing/artillery/api-load-test.yml
  performance-testing/artillery/artillery-helpers.js
  performance-testing/artillery/soak-test.yml
  performance-testing/artillery/stress-test.yml
  performance-testing/k6/load-test.js
  performance-testing/k6/spike-test.js
  performance-testing/k6/stress-test.js
  test-automator/README.md
  test-automator/scripts/fix-failing-tests.js
  test-automator/scripts/generate-test-report.js
  test-automator/scripts/run-all-tests.sh
  test-automator/scripts/test-coverage-enforcer.js
  test-automator/templates/api-test.template.ts
  test-automator/templates/component-test.template.tsx
  test-automator/templates/integration-test.template.tsx
  test-automator/templates/screen-test.template.tsx
Owners: @parkpal-team, @devops-team, @frontend-team, @bryanangeloyaneza, @backend-team, @documentation-team

fix(ci): Create reports directory before running performance tests
  .github/workflows/performance-testing.yml
Owners: @devops-team

fix(artillery): Correct processor path for CI/CD environment
  performance-testing/artillery/api-load-test.yml
Owners: @parkpal-team

feat: Add comprehensive testing infrastructure and performance testin… (#38)
  .claude/agents/test-automator.md
  .github/workflows/performance-testing.yml
  .github/workflows/test-coverage.yml
  COMPREHENSIVE_TESTING_ASSESSMENT.md
  PERFORMANCE_AND_TEST_AUTOMATION_SETUP.md
  frontend/web/dist/index.html
  frontend/web/src/vite-env.d.ts
  package.json
  performance-testing/README.md
  performance-testing/artillery/api-load-test.yml
  performance-testing/artillery/artillery-helpers.js
  performance-testing/artillery/soak-test.yml
  performance-testing/artillery/stress-test.yml
  performance-testing/k6/load-test.js
  performance-testing/k6/spike-test.js
  performance-testing/k6/stress-test.js
  test-automator/README.md
  test-automator/scripts/fix-failing-tests.js
  test-automator/scripts/generate-test-report.js
  test-automator/scripts/run-all-tests.sh
  test-automator/scripts/test-coverage-enforcer.js
  test-automator/templates/api-test.template.ts
  test-automator/templates/component-test.template.tsx
  test-automator/templates/integration-test.template.tsx
  test-automator/templates/screen-test.template.tsx
Owners: @parkpal-team, @devops-team, @frontend-team, @bryanangeloyaneza, @backend-team, @documentation-team

fix(backend): Add test database configuration and infrastructure
  backend/.env.test.example
  backend/package.json
  backend/test/README.md
  backend/test/helpers.js
  backend/test/setup.js
Owners: @security-team, @devops-team, @backend-team, @frontend-team, @documentation-team, @bryanangeloyaneza

fix(mobile): Fix Jest configuration for Redux Toolkit ESM modules
  frontend/mobile/jest.config.js
Owners: @backend-team, @frontend-team

fix(web): Update test mocks for navigation routes and jsdom compatibility
  .claude/agents/test-engineer.md
  ROADMAP_UPDATE_SUMMARY.md
  frontend/web/src/__tests__/auth-integration.test.tsx
  frontend/web/src/components/__tests__/NavBar.test.tsx
  frontend/web/src/screens/__tests__/Login.test.tsx
  frontend/web/src/test/accessibility.test.tsx
  frontend/web/test-fixes.md
Owners: @parkpal-team, @qa-team, @frontend-team, @bryanangeloyaneza

fix(artillery): Correct processor path for CI/CD environment
  .github/workflows/performance-testing.yml
  performance-testing/artillery/api-load-test.yml
Owners: @devops-team, @parkpal-team

Fix/backend test db config (#39)
  backend/.env.test.example
  backend/package.json
  backend/test/README.md
  backend/test/helpers.js
  backend/test/setup.js
Owners: @security-team, @devops-team, @backend-team, @frontend-team, @documentation-team, @bryanangeloyaneza

fix(ci): Fix Artillery report output paths in GitHub Actions
  .github/workflows/performance-testing.yml
Owners: @devops-team

fix(ci): Add .env.test creation to test-coverage workflow
  .github/workflows/test-coverage.yml
  WORKFLOW_CONFIGURATION_FIXES.md
Owners: @devops-team, @parkpal-team

fix(artillery): Disable processor to resolve CI module loading error
  performance-testing/artillery/api-load-test.yml
Owners: @parkpal-team

fix(ci): Install Artillery plugins for expect and metrics-by-endpoint
  .github/workflows/performance-testing.yml
Owners: @devops-team

fix(artillery): Remove expect plugin and all assertions to resolve CI errors
  .github/workflows/performance-testing.yml
  TEST_INFRASTRUCTURE_FIX_SUMMARY.md
  performance-testing/artillery/api-load-test.yml
Owners: @devops-team, @parkpal-team

Feat/comprehensive testing infrastructure (#40)
  TEST_INFRASTRUCTURE_FIX_SUMMARY.md
  WORKFLOW_CONFIGURATION_FIXES.md
  performance-testing/artillery/api-load-test.yml
Owners: @parkpal-team

fix(artillery): Remove invalid YAML comment structure
  performance-testing/artillery/api-load-test.yml
Owners: @parkpal-team

docs: Add comprehensive branch summary for publishing
  BRANCH_SUMMARY.md
Owners: @parkpal-team

fix(ci): Make performance baseline comparison handle first run gracefully
  .github/workflows/performance-testing.yml
Owners: @devops-team

Feat/comprehensive testing infrastructure (#41)
  .github/workflows/performance-testing.yml
  BRANCH_SUMMARY.md
Owners: @devops-team, @parkpal-team

feat(auth): Implement forgot password flow with comprehensive tests
  backend/.env.example
  backend/PASSWORD_RESET_IMPLEMENTATION.md
  backend/controllers/authController.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20260112_add_password_reset_fields/migration.sql
  backend/prisma/schema.prisma
  backend/routes/auth.js
  backend/services/email.js
  backend/tests/password-reset-summary.md
  backend/tests/password-reset.test.js
  backend/validators/auth.js
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin, @qa-team

feat(auth): Implement forgot password flow with comprehensive tests (#42)
  backend/.env.example
  backend/PASSWORD_RESET_IMPLEMENTATION.md
  backend/controllers/authController.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20260112_add_password_reset_fields/migration.sql
  backend/prisma/schema.prisma
  backend/routes/auth.js
  backend/services/email.js
  backend/tests/password-reset-summary.md
  backend/tests/password-reset.test.js
  backend/validators/auth.js
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin, @qa-team

fix(ci): Fix actual root causes of GitHub Actions failures
  .github/workflows/performance-testing.yml
  frontend/mobile/jest.config.js
  frontend/mobile/jest.setup.js
Owners: @devops-team, @backend-team, @frontend-team, @mobile-team, @bryanangeloyaneza

fix(ci): Fix actual root causes of GitHub Actions failures (#43)
  .github/workflows/performance-testing.yml
  frontend/mobile/jest.config.js
  frontend/mobile/jest.setup.js
Owners: @devops-team, @backend-team, @frontend-team, @mobile-team, @bryanangeloyaneza

docs: Reorganize documentation to prevent file bloat
  .claude/agents/data-engineer.md
  .claude/agents/documentation-expert.md
  .claude/session-start-instructions-NEW.md
  DOCS_REORGANIZATION_JAN_12.md
  DOCUMENTATION_STANDARDS.md
  JANUARY_2026_STATUS_REPORT.md
  TECH_STACK_SUMMARY.md
  backend/docs/CI_FIXES_APPLIED.md
  backend/docs/PHOTO_UPLOAD_IMPLEMENTATION_PLAN.md
  docs/MVP_ROADMAP_Q1_2026.md
  docs/audits-reviews/BACKEND_ARCHITECTURE_REVIEW.md
  docs/audits-reviews/BACKEND_SECURITY_PERFORMANCE_AUDIT.md
  docs/audits-reviews/COMPREHENSIVE_TESTING_ASSESSMENT.md
  docs/audits-reviews/DOCUMENTATION_AUDIT.md
  docs/future-phases/ANALYTICS_IMPLEMENTATION_SUMMARY.md
  docs/future-phases/CIRCLING_TIME_EDGE_CASES.md
  docs/future-phases/DATABRICKS_PIPELINE_ARCHITECTURE.md
  docs/future-phases/SERVICE_1_ANALYTICS_GUIDE.md
  docs/future-phases/SERVICE_1_ANALYTICS_ROADMAP.md
  docs/implementations/API_CONTRACT_TESTING.md
  docs/implementations/API_TIMEOUT_FIX.md
  docs/implementations/CONTRACT_TESTING_SUMMARY.md
  docs/implementations/PAYMONGO_INTEGRATION_COMPLETE.md
  docs/implementations/PERFORMANCE_AND_TEST_AUTOMATION_SETUP.md
  docs/implementations/REVIEW_FEATURE_IMPLEMENTATION.md
  docs/implementations/SECRET_MANAGER_MIGRATION_COMPLETE.md
  docs/implementations/SECURITY_AUDIT_UPDATE.md
  docs/implementations/TEST_INFRASTRUCTURE_FIX_SUMMARY.md
  docs/implementations/WORKFLOW_CONFIGURATION_FIXES.md
  docs/phase-completions/BRANCH_SUMMARY.md
  docs/phase-completions/PHASE1_COMPLETION_SUMMARY.md
  docs/phase-completions/PHASE2_COMPLETION_SUMMARY.md
  docs/phase-completions/PHASE_3_4_COMPLETION.md
  docs/phase-completions/PHASE_4_BETA_LAUNCH_COMPLETION.md
  package-lock.json
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @documentation-team, @frontend-team

docs: Reorganize documentation to prevent file bloat (#44)
  .claude/agents/data-engineer.md
  .claude/agents/documentation-expert.md
  .claude/session-start-instructions-NEW.md
  DOCS_REORGANIZATION_JAN_12.md
  DOCUMENTATION_STANDARDS.md
  JANUARY_2026_STATUS_REPORT.md
  TECH_STACK_SUMMARY.md
  backend/docs/CI_FIXES_APPLIED.md
  backend/docs/PHOTO_UPLOAD_IMPLEMENTATION_PLAN.md
  docs/MVP_ROADMAP_Q1_2026.md
  docs/audits-reviews/BACKEND_ARCHITECTURE_REVIEW.md
  docs/audits-reviews/BACKEND_SECURITY_PERFORMANCE_AUDIT.md
  docs/audits-reviews/COMPREHENSIVE_TESTING_ASSESSMENT.md
  docs/audits-reviews/DOCUMENTATION_AUDIT.md
  docs/future-phases/ANALYTICS_IMPLEMENTATION_SUMMARY.md
  docs/future-phases/CIRCLING_TIME_EDGE_CASES.md
  docs/future-phases/DATABRICKS_PIPELINE_ARCHITECTURE.md
  docs/future-phases/SERVICE_1_ANALYTICS_GUIDE.md
  docs/future-phases/SERVICE_1_ANALYTICS_ROADMAP.md
  docs/implementations/API_CONTRACT_TESTING.md
  docs/implementations/API_TIMEOUT_FIX.md
  docs/implementations/CONTRACT_TESTING_SUMMARY.md
  docs/implementations/PAYMONGO_INTEGRATION_COMPLETE.md
  docs/implementations/PERFORMANCE_AND_TEST_AUTOMATION_SETUP.md
  docs/implementations/REVIEW_FEATURE_IMPLEMENTATION.md
  docs/implementations/SECRET_MANAGER_MIGRATION_COMPLETE.md
  docs/implementations/SECURITY_AUDIT_UPDATE.md
  docs/implementations/TEST_INFRASTRUCTURE_FIX_SUMMARY.md
  docs/implementations/WORKFLOW_CONFIGURATION_FIXES.md
  docs/phase-completions/BRANCH_SUMMARY.md
  docs/phase-completions/PHASE1_COMPLETION_SUMMARY.md
  docs/phase-completions/PHASE2_COMPLETION_SUMMARY.md
  docs/phase-completions/PHASE_3_4_COMPLETION.md
  docs/phase-completions/PHASE_4_BETA_LAUNCH_COMPLETION.md
  package-lock.json
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @documentation-team, @frontend-team

fix(tests): Fix password reset and WebSocket test failures
  backend/tests/handshake-critical.test.js
  backend/tests/password-reset.test.js
Owners: @qa-team

fix(ci): Fix GitHub Actions workflow failures
  .github/workflows/performance-testing.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-coverage.yml
Owners: @devops-team

Fix/GitHub actions workflows (#45)
  .github/workflows/performance-testing.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-coverage.yml
  backend/tests/handshake-critical.test.js
  backend/tests/password-reset.test.js
Owners: @devops-team, @qa-team

test: Verify CI fixes
  test-ci.md
Owners: @parkpal-team

fix(ci): Fix performance testing workflow errors
  .github/workflows/performance-testing.yml
Owners: @devops-team

fix(mobile): Regenerate package-lock.json to fix CI npm ci sync error
  frontend/mobile/package-lock.json
Owners: @backend-team, @frontend-team

fix(backend): Fix Jest configuration typo - coverageThreshold
  backend/package.json
Owners: @backend-team, @frontend-team

fix(ci): Add --legacy-peer-deps to mobile coverage tests
  .github/workflows/test-coverage.yml
Owners: @devops-team

fix(ci): Use npm run test:coverage for web tests
  .github/workflows/test-coverage.yml
Owners: @devops-team

fix(ci): Add error handling to consolidated test report generation
  .github/workflows/test-coverage.yml
Owners: @devops-team

fix(web): Add missing @vitest/coverage-v8 dependency and type: module
  frontend/web/package-lock.json
  frontend/web/package.json
Owners: @backend-team, @frontend-team

docs: Add comprehensive code guidelines and update session instructions
  .claude/session-start-instructions-NEW.md
  .claude/session-start-instructions.md
  CODE_GUIDELINES.md
Owners: @parkpal-team

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team
