Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

fix: resolve Prisma schema validation errors for PointsTransaction and Referral models
  backend/prisma/schema.prisma
Owners: @database-admin, @backend-team

Add PHASE1_PERKS_PLAN.md
  PHASE1_PERKS_PLAN.md
Owners: @parkpal-team

fix(tests): resolve points test isolation and referral code validation issues
  backend/controllers/pointsController.js
  backend/tests/points.test.js
  backend/validators/points.js
Owners: @backend-team, @qa-team, @bryanangeloyaneza

Remove test_referral_*.js debug files
  .expo/README.md
  TODO.md
  tsconfig.tsbuildinfo
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team

feat(mobile): integrate points & referral system
  frontend/mobile/src/components/Input.tsx
  frontend/mobile/src/components/PointsBalanceCard.tsx
  frontend/mobile/src/components/PointsHistoryItem.tsx
  frontend/mobile/src/components/ReferralCodeDisplay.tsx
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/BookingConfirmed.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/PointsHistoryScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/screens/ReferralScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/index.ts
  frontend/mobile/src/store/slices/bookingSlice.ts
  frontend/mobile/src/store/slices/pointsSlice.ts
  frontend/mobile/src/store/slices/vehiclesSlice.ts
  frontend/mobile/src/types/index.ts
Owners: @mobile-team, @bryanangeloyaneza

docs: update progress on mobile points integration
  TODO.md
Owners: @parkpal-team

fix(mobile): fix transactions.map error and update pointstypes
  frontend/mobile/src/components/PointsHistoryItem.tsx
  frontend/mobile/src/screens/PointsHistoryScreen.tsx
  frontend/mobile/src/types/index.ts
Owners: @mobile-team, @bryanangeloyaneza

style: replace emoji icons with MaterialCommunityIcons in bookings screen
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
Owners: @mobile-team

Update empty state and error icons to MaterialCommunityIcons in MyBookingsScreen.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
Owners: @mobile-team

fix(mobile): rebrand ParkPal to ParknQuik in home header
  frontend/mobile/src/screens/HomeDashboard.tsx
Owners: @mobile-team

docs: add explore page revamp roadmap
  EXPLORE_PAGE_REVAMP_ROADMAP.md
Owners: @parkpal-team

feat(explore): Phase 1 - replace emoji with MaterialCommunityIcons, implement directions, fix positioning, add empty state icon
  frontend/mobile/src/screens/ExploreMap.tsx
Owners: @mobile-team

feat(explore): Phase 1.2 - implement filter modal with price range, slot type, amenities, and availability filters
  frontend/mobile/src/components/FilterModal.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
Owners: @mobile-team

feat(explore): Phase 2 - draggable bottom sheet, listing preview, quick book, native price markers, occupancy progress bar
  STATUS_REPORT.md
  frontend/mobile/src/components/ListingBottomSheet.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
Owners: @parkpal-team, @mobile-team

feat(explore): Phase 3 - search history, autocomplete, filter chips, sorting
  frontend/mobile/src/components/FilterChips.tsx
  frontend/mobile/src/hooks/useAutocomplete.ts
  frontend/mobile/src/hooks/useSearchHistory.ts
  frontend/mobile/src/screens/ExploreMap.tsx
Owners: @mobile-team, @bryanangeloyaneza

feat(explore): Phase 4 - toggleable zone overlays, occupancy heatmap, marker badges, auto-dismiss zone pill
  frontend/mobile/src/screens/ExploreMap.tsx
Owners: @mobile-team

feat(explore): Phase 5 - marker clustering, offline mode, loading skeletons, haptics, accessibility, performance optimizations
  frontend/mobile/src/components/Chip.tsx
  frontend/mobile/src/components/FilterChips.tsx
  frontend/mobile/src/components/FilterModal.tsx
  frontend/mobile/src/components/ListingBottomSheet.tsx
  frontend/mobile/src/components/LoadingSkeleton.tsx
  frontend/mobile/src/hooks/useNetworkStatus.ts
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/utils/clusterMarkers.ts
Owners: @mobile-team, @bryanangeloyaneza

feat: implement penalty system for late returns and rule violations
  STATUS_REPORT.md
  backend/controllers/marketplaceController.js
  backend/prisma/migrations/20260504000000_add_penalty_fields_to_user/migration.sql
  backend/prisma/schema.prisma
  backend/routes/points.js
  backend/services/bookingExpiry.js
  backend/services/penaltyService.js
  frontend/mobile/src/components/AppHeader.tsx
  frontend/mobile/src/components/PointsHistoryItem.tsx
  frontend/mobile/src/navigation/AppNavigator.tsx
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/navigation/types.ts
  frontend/mobile/src/screens/AddVehicleWizardScreen.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/BookingConfirmed.tsx
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/EditProfileScreen.tsx
  frontend/mobile/src/screens/HelpCenterScreen.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/screens/MyVehiclesScreen.tsx
  frontend/mobile/src/screens/ParkingDetails.tsx
  frontend/mobile/src/screens/PaymentFailedScreen.tsx
  frontend/mobile/src/screens/PaymentMethodsScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/PointsHistoryScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/screens/QRGeneratorScreen.tsx
  frontend/mobile/src/screens/QRScannerScreen.tsx
  frontend/mobile/src/screens/ReferralScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/screens/SecurityPrivacyScreen.tsx
  frontend/mobile/src/screens/WriteReview.tsx
  frontend/mobile/src/services/api.ts
  tsconfig.tsbuildinfo
Owners: @parkpal-team, @backend-team, @database-admin, @mobile-team, @bryanangeloyaneza

docs: update status report with penalty system implementation and production readiness increase to 96/100
  STATUS_REPORT.md
Owners: @parkpal-team

chore: reconcile project status and agent tooling
  .agents/skills/backend-diagnostics/SKILL.md
  .agents/skills/brainstorming/SKILL.md
  .agents/skills/deployment-status/SKILL.md
  .agents/skills/frontend-design/LICENSE.txt
  .agents/skills/frontend-design/SKILL.md
  .agents/skills/gcp-cloud-run/SKILL.md
  .agents/skills/gcp-cost-monitor/SKILL.md
  .agents/skills/mobile-design/SKILL.md
  .agents/skills/mobile-design/decision-trees.md
  .agents/skills/mobile-design/mobile-backend.md
  .agents/skills/mobile-design/mobile-color-system.md
  .agents/skills/mobile-design/mobile-debugging.md
  .agents/skills/mobile-design/mobile-design-thinking.md
  .agents/skills/mobile-design/mobile-navigation.md
  .agents/skills/mobile-design/mobile-performance.md
  .agents/skills/mobile-design/mobile-testing.md
  .agents/skills/mobile-design/mobile-typography.md
  .agents/skills/mobile-design/platform-android.md
  .agents/skills/mobile-design/platform-ios.md
  .agents/skills/mobile-design/scripts/mobile_audit.py
  .agents/skills/mobile-design/touch-psychology.md
  .agents/skills/pr-checker/SKILL.md
  .agents/skills/test-runner/SKILL.md
  .codex/agents/code-reviewer.toml
  .codex/agents/data-engineer.toml
  .codex/agents/frontend-developer.toml
  .codex/agents/mobile-developer.toml
  .codex/agents/python-pro.toml
  .codex/agents/test-automator.toml
  .codex/agents/ui-ux-designer.toml
  .codex/config.toml
  .gitignore
  AGENTS.md
  STATUS_REPORT.md
Owners: @parkpal-team

docs: retire stale opinion request snapshots
  CLAUDE_OPINION_REQUEST.md
  DOCUMENTATION.md
  KILO_OPINION_REQUEST.md
  STATUS_REPORT.md
Owners: @parkpal-team

docs: reconcile status report and web test status
  STATUS_REPORT.md
  frontend/web/src/__tests__/auth-integration.test.tsx
  frontend/web/src/components/__tests__/NavBar.test.tsx
  frontend/web/src/screens/Profile.tsx
  frontend/web/src/screens/__tests__/Login.test.tsx
  frontend/web/src/screens/__tests__/Payment.test.tsx
  frontend/web/src/test/accessibility.test.tsx
  frontend/web/src/test/integration/payment-flow.test.tsx
  frontend/web/src/test/setup.ts
Owners: @parkpal-team, @qa-team, @frontend-team, @bryanangeloyaneza

chore: add post-merge status planner skill
  .agents/skills/post-merge-status-planner/SKILL.md
Owners: @parkpal-team

chore: add post-merge status planner skill (#133)
  .agents/skills/post-merge-status-planner/SKILL.md
Owners: @parkpal-team

docs: update status report after dev merges
  STATUS_REPORT.md
Owners: @parkpal-team

docs: update status report after dev merges (#134)
  STATUS_REPORT.md
Owners: @parkpal-team

fix: update my listings header spacing
  frontend/mobile/src/screens/MyListingsScreen.tsx
Owners: @mobile-team

fix: update my listings header spacing (#135)
  frontend/mobile/src/screens/MyListingsScreen.tsx
Owners: @mobile-team

docs: update status report after PR 135 merge
  STATUS_REPORT.md
Owners: @parkpal-team

docs(status): update after PR 135 merge
  STATUS_REPORT.md
Owners: @parkpal-team

fix(backend): stabilize payment and marketplace tests
  backend/controllers/googleAuthController.js
  backend/controllers/marketplaceController.js
  backend/controllers/paymentsController.js
  backend/services/parkingSessionTracking.js
  backend/tests/analytics.test.js
  backend/tests/autoCheckout.test.js
  backend/tests/googleAuth.test.js
  backend/tests/handshake-critical.test.js
  backend/tests/handshake.test.js
  backend/tests/marketplace.test.js
  backend/tests/parkingSessionTracking.test.js
  backend/tests/payments.test.js
  backend/tests/rental-modes-integration.test.js
  backend/tests/setup.js
  backend/tests/vehicles.test.js
  backend/validators/marketplace.js
Owners: @backend-team, @qa-team, @bryanangeloyaneza

fix(backend): stabilize payment and marketplace tests (#138)
  backend/controllers/googleAuthController.js
  backend/controllers/marketplaceController.js
  backend/controllers/paymentsController.js
  backend/services/parkingSessionTracking.js
  backend/tests/analytics.test.js
  backend/tests/autoCheckout.test.js
  backend/tests/googleAuth.test.js
  backend/tests/handshake-critical.test.js
  backend/tests/handshake.test.js
  backend/tests/marketplace.test.js
  backend/tests/parkingSessionTracking.test.js
  backend/tests/payments.test.js
  backend/tests/rental-modes-integration.test.js
  backend/tests/setup.js
  backend/tests/vehicles.test.js
  backend/validators/marketplace.js
Owners: @backend-team, @qa-team, @bryanangeloyaneza

fix(mobile): normalize header safe areas
  frontend/mobile/src/components/AppHeader.tsx
  frontend/mobile/src/screens/AddVehicleWizardScreen.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/BookingConfirmed.tsx
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/EditProfileScreen.tsx
  frontend/mobile/src/screens/ForgotPasswordScreen.tsx
  frontend/mobile/src/screens/HelpCenterScreen.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyVehiclesScreen.tsx
  frontend/mobile/src/screens/NotificationsScreen.tsx
  frontend/mobile/src/screens/ParkingDetails.tsx
  frontend/mobile/src/screens/PaymentFailedScreen.tsx
  frontend/mobile/src/screens/PaymentMethodsScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/PointsHistoryScreen.tsx
  frontend/mobile/src/screens/QRGeneratorScreen.tsx
  frontend/mobile/src/screens/QRScannerScreen.tsx
  frontend/mobile/src/screens/ReferralScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/screens/SecurityPrivacyScreen.tsx
  frontend/mobile/src/screens/WriteReview.tsx
  frontend/mobile/src/theme/colors.ts
Owners: @mobile-team, @bryanangeloyaneza

fix(mobile): normalize header safe areas (#137)
  frontend/mobile/src/components/AppHeader.tsx
  frontend/mobile/src/screens/AddVehicleWizardScreen.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/BookingConfirmed.tsx
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/EditProfileScreen.tsx
  frontend/mobile/src/screens/ForgotPasswordScreen.tsx
  frontend/mobile/src/screens/HelpCenterScreen.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyVehiclesScreen.tsx
  frontend/mobile/src/screens/NotificationsScreen.tsx
  frontend/mobile/src/screens/ParkingDetails.tsx
  frontend/mobile/src/screens/PaymentFailedScreen.tsx
  frontend/mobile/src/screens/PaymentMethodsScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/PointsHistoryScreen.tsx
  frontend/mobile/src/screens/QRGeneratorScreen.tsx
  frontend/mobile/src/screens/QRScannerScreen.tsx
  frontend/mobile/src/screens/ReferralScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/screens/SecurityPrivacyScreen.tsx
  frontend/mobile/src/screens/WriteReview.tsx
  frontend/mobile/src/theme/colors.ts
Owners: @mobile-team, @bryanangeloyaneza

docs: update status report after dev merges
  STATUS_REPORT.md
Owners: @parkpal-team

docs: update status report after dev merges (#139)
  STATUS_REPORT.md
Owners: @parkpal-team

docs: add beta readiness checklist
  DOCUMENTATION.md
  docs/BETA_READINESS_CHECKLIST.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

docs: add beta readiness checklist (#140)
  DOCUMENTATION.md
  docs/BETA_READINESS_CHECKLIST.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

docs: correct local-first status path
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

docs: correct local-first status docs
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team
