Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

test(backend): update tests for API versioning + add test infrastructure
  backend/tests/README.md
  backend/tests/alerts.test.js
  backend/tests/marketplace.test.js
  backend/tests/parking.test.js
  backend/tests/payments.test.js
  backend/tests/testConfig.js
Owners: @documentation-team, @bryanangeloyaneza, @qa-team, @backend-team

feat(fullstack): migrate from SQLite to PostgreSQL with Docker
  backend/.env
  backend/.env.example
  backend/.gitignore
  backend/POSTGRESQL_MIGRATION.md
  backend/docker-compose.yml
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20251004140857_init/migration.sql
  backend/prisma/migrations/20251005125902_add_marketplace_and_analytics_features/migration.sql
  backend/prisma/migrations/20251006085022_update_marketplace_schema/migration.sql
  backend/prisma/migrations/20251006085237_add_booking_session_link/migration.sql
  backend/prisma/migrations/20251019043801_add_performance_indexes/migration.sql
  backend/prisma/migrations/20251021042940_switch_to_postgresql/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/schema.prisma
  backend/prisma/seed-near-location.js
  backend/prisma/seed-san-jose.js
  backend/tests/auth.test.js
  frontend/mobile/app.json
  frontend/mobile/src/screens/HomeScreen.tsx
  frontend/mobile/src/screens/MapViewScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/web/.env
  frontend/web/.env.development
  frontend/web/src/screens/MapView.jsx
Owners: @backend-team, @bryanangeloyaneza, @security-team, @devops-team, @frontend-team, @database-admin, @qa-team, @mobile-team

security(P0): rotate JWT secret and remove .env from version control
  backend/.env
  backend/.gitignore
Owners: @backend-team, @bryanangeloyaneza

fix(tests): resolve all test failures after PostgreSQL migration (110/110 passing)
  backend/controllers/authController.js
  backend/tests/auth.test.js
  backend/tests/marketplace.test.js
  backend/tests/parking.test.js
  backend/tests/payments.test.js
  backend/validators/auth.js
Owners: @backend-team, @qa-team, @bryanangeloyaneza

fix: add .env to .gitignore
  backend/.gitignore
Owners: @backend-team, @bryanangeloyaneza

feat(fullstack): PostgreSQL migration + P0 security fixes (110/110 tests passing) (#20)
  backend/.env
  backend/.gitignore
  backend/controllers/authController.js
  backend/tests/auth.test.js
  backend/tests/marketplace.test.js
  backend/tests/parking.test.js
  backend/tests/payments.test.js
  backend/validators/auth.js
Owners: @backend-team, @bryanangeloyaneza, @qa-team

feat: API contract testing + mobile backend integration fixes
  API_CONTRACT_TESTING.md
  CONTRACT_TESTING_SUMMARY.md
  backend/controllers/authController.js
  backend/controllers/marketplaceController.js
  backend/routes/auth.js
  backend/routes/marketplace.js
  backend/scripts/generate-api-contract.js
  frontend/mobile/app.json
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/mobile/src/utils/helpers.ts
  frontend/web/src/screens/HostDashboard.jsx
  package.json
  scripts/validate-api-contract.js
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @frontend-team, @mobile-team

feat: API contract testing + mobile backend integration fixes (#21)
  API_CONTRACT_TESTING.md
  CONTRACT_TESTING_SUMMARY.md
  backend/controllers/authController.js
  backend/controllers/marketplaceController.js
  backend/routes/auth.js
  backend/routes/marketplace.js
  backend/scripts/generate-api-contract.js
  frontend/mobile/app.json
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/mobile/src/utils/helpers.ts
  frontend/web/src/screens/HostDashboard.jsx
  package.json
  scripts/validate-api-contract.js
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @frontend-team, @mobile-team

feat(fullstack): Profile management Phase 1 - Edit profile & user stats
  backend/controllers/userController.js
  backend/routes/users.js
  backend/routes/v1/index.js
  backend/scripts/generate-api-contract.js
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/EditProfileScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/authSlice.ts
  frontend/web/src/screens/Profile.tsx
Owners: @backend-team, @bryanangeloyaneza, @mobile-team, @frontend-team

fix(backend): Correct prisma import path in userController
  backend/controllers/userController.js
Owners: @backend-team

fix(backend): Correct auth middleware import path in users routes
  backend/routes/users.js
Owners: @backend-team

feat(fullstack): Implement search-first UX (Airbnb-style)
  frontend/mobile/src/navigation/BottomTabNavigator.tsx
  frontend/mobile/src/screens/SearchScreen.tsx
  frontend/web/src/App.tsx
  frontend/web/src/components/NavBar.tsx
  frontend/web/src/screens/Login.tsx
  frontend/web/src/screens/Search.tsx
Owners: @mobile-team, @frontend-team, @bryanangeloyaneza

feat(fullstack): Integrate Google Places API for location search
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/screens/SearchScreen.tsx
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/src/screens/Search.tsx
Owners: @backend-team, @frontend-team, @mobile-team, @bryanangeloyaneza

security: Implement Google Maps API key security best practices
  backend/.env.development
  backend/.env.production
  backend/.env.qa
  backend/.gitignore
  frontend/web/.env.development
  frontend/web/.env.production
  frontend/web/.env.qa
  frontend/web/.gitignore
  frontend/web/src/screens/Search.tsx
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @frontend-team

fix(mobile): Correct Google Maps API key endpoint path
  frontend/mobile/src/screens/SearchScreen.tsx
Owners: @mobile-team

docs(security): Add comprehensive security audit update report
  SECURITY_AUDIT_UPDATE.md
  frontend/web/.env
  frontend/web/src/api.ts
Owners: @parkpal-team, @frontend-team, @bryanangeloyaneza

Feat/profile management phase1 (#22)
  SECURITY_AUDIT_UPDATE.md
  backend/.env.development
  backend/.env.production
  backend/.env.qa
  backend/.gitignore
  backend/controllers/userController.js
  backend/routes/users.js
  backend/routes/v1/index.js
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/navigation/BottomTabNavigator.tsx
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/EditProfileScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/screens/SearchScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/authSlice.ts
  frontend/web/.env
  frontend/web/.env.development
  frontend/web/.env.production
  frontend/web/.env.qa
  frontend/web/.gitignore
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/src/App.tsx
  frontend/web/src/api.ts
  frontend/web/src/components/NavBar.tsx
  frontend/web/src/screens/Login.tsx
  frontend/web/src/screens/Profile.tsx
  frontend/web/src/screens/Search.tsx
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @frontend-team, @mobile-team

feat(backend): Add comprehensive handshake tests for web/mobile frontends
  backend/HANDSHAKE_TESTS.md
  backend/index.js
  backend/routes/v1/index.js
  backend/tests/handshake.test.js
Owners: @backend-team, @bryanangeloyaneza, @qa-team

feat(backend): Add 16 critical handshake tests for production readiness
  backend/HANDSHAKE_TESTS.md
  backend/package-lock.json
  backend/package.json
  backend/test-output.txt
  backend/tests/handshake-critical.test.js
Owners: @backend-team, @bryanangeloyaneza, @frontend-team, @qa-team

docs: Add comprehensive critical tests implementation summary
  backend/CRITICAL_TESTS_SUMMARY.md
Owners: @backend-team, @bryanangeloyaneza

Feature/handshake tests (#24)
  backend/CRITICAL_TESTS_SUMMARY.md
  backend/HANDSHAKE_TESTS.md
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/routes/v1/index.js
  backend/test-output.txt
  backend/tests/handshake-critical.test.js
  backend/tests/handshake.test.js
Owners: @backend-team, @bryanangeloyaneza, @frontend-team, @qa-team

chore: Remove temporary test output file
  backend/test-output.txt
Owners: @backend-team, @bryanangeloyaneza

docs(claude): add branch naming convention to session start instructions
  .claude/session-start-instructions.md
Owners: @parkpal-team

feat(backend): Complete input validation implementation - 100% coverage
  backend/routes/marketplace.js
  backend/routes/parking.js
  backend/routes/payments.js
  backend/tests/handshake-critical.test.js
  backend/tests/marketplace.test.js
  backend/validators/marketplace.js
  backend/validators/parking.js
  backend/validators/payments.js
Owners: @backend-team, @qa-team, @bryanangeloyaneza

feat(backend): Complete input validation implementation - 100% coverage (#25)
  backend/routes/marketplace.js
  backend/routes/parking.js
  backend/routes/payments.js
  backend/tests/handshake-critical.test.js
  backend/tests/marketplace.test.js
  backend/validators/marketplace.js
  backend/validators/parking.js
  backend/validators/payments.js
Owners: @backend-team, @qa-team, @bryanangeloyaneza

fix(api): Complete API contract alignment - 0 mismatches
  backend/controllers/marketplaceController.js
  backend/controllers/paymentsController.js
  backend/controllers/userController.js
  backend/routes/marketplace.js
  backend/routes/users.js
  backend/scripts/generate-api-contract.js
  frontend/mobile/src/services/api.ts
Owners: @backend-team, @bryanangeloyaneza, @mobile-team

feat(backend): Complete input validation - 100% coverage
  backend/routes/marketplace.js
  backend/routes/parking.js
  backend/routes/payments.js
  backend/validators/marketplace.js
  backend/validators/parking.js
  backend/validators/payments.js
Owners: @backend-team, @bryanangeloyaneza

Feat/complete input validation (#27)
  backend/controllers/marketplaceController.js
  backend/controllers/paymentsController.js
  backend/controllers/userController.js
  backend/routes/marketplace.js
  backend/routes/parking.js
  backend/routes/payments.js
  backend/routes/users.js
  backend/scripts/generate-api-contract.js
  backend/validators/marketplace.js
  backend/validators/parking.js
  backend/validators/payments.js
  frontend/mobile/src/services/api.ts
Owners: @backend-team, @bryanangeloyaneza, @mobile-team

fix(tests): Update marketplace test for new validation response format
  backend/tests/marketplace.test.js
Owners: @qa-team

docs(security): Update SECURITY_AUDIT_UPDATE.md to 100% completion
  SECURITY_AUDIT_UPDATE.md
Owners: @parkpal-team

docs(security): Update SECURITY_AUDIT_UPDATE.md to 100% completion (#29)
  SECURITY_AUDIT_UPDATE.md
Owners: @parkpal-team

fix(tests): Fix test assertions and add hibp package
  backend/package-lock.json
  backend/package.json
  backend/test-output.txt
  backend/tests/handshake-critical.test.js
  backend/tests/marketplace.test.js
  backend/tests/parking.test.js
Owners: @backend-team, @frontend-team, @bryanangeloyaneza, @qa-team

feat(payments): Integrate PayMongo for GCash + Card payments
  CLAUDE.md
  backend/.claude/agents/code-reviewer.md
  backend/.env.example
  backend/controllers/paymentsController.js
  backend/routes/payments.js
  backend/services/paymongo.js
  docs/MVP_ROADMAP_Q1_2026.md
  docs/PAYMONGO_SETUP.md
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @security-team, @devops-team, @documentation-team

feat(mobile): Complete PayMongo payment UI integration
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/PaymentFailedScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/PaymentSuccessScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/types/index.ts
Owners: @mobile-team, @bryanangeloyaneza

docs: Update roadmap and progress - Phase 1 complete (100%)
  .claude/session-start-instructions.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/MVP_ROADMAP_Q1_2026.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

feat(security): Integrate PayMongo with GCP Secret Manager
  backend/.env.example
  backend/scripts/upload-secrets.js
  backend/services/paymongo.js
  docs/GCP_SECRET_MANAGER_SETUP.md
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @documentation-team

feat(mobile): Complete Phase 2 - Core mobile features and infrastructure
  .github/workflows/mobile-eas-build.yml
  .github/workflows/mobile-env-check.yml
  .gitignore
  frontend/mobile/.env.development
  frontend/mobile/.env.example
  frontend/mobile/.env.production
  frontend/mobile/.env.staging
  frontend/mobile/.gitignore
  frontend/mobile/ARCHITECTURE_DIAGRAM.md
  frontend/mobile/ENV_SETUP_README.md
  frontend/mobile/GOOGLE_MAPS_IMPLEMENTATION_SUMMARY.md
  frontend/mobile/GOOGLE_MAPS_SETUP.md
  frontend/mobile/IMPLEMENTATION_CHECKLIST.md
  frontend/mobile/QUICK_START.md
  frontend/mobile/README_IMPLEMENTATION.md
  frontend/mobile/app.config.js
  frontend/mobile/app.json
  frontend/mobile/package.json
  frontend/mobile/scripts/check-env.js
  frontend/mobile/scripts/fetch-secrets-from-gcp.js
  frontend/mobile/scripts/setup-eas-secrets.sh
  frontend/mobile/setup.sh
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/screens/PaymentMethodsScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
Owners: @devops-team, @parkpal-team, @backend-team, @mobile-team, @bryanangeloyaneza, @frontend-team

feat(payments): Complete PayMongo integration for mobile and web
  .claude/session-start-instructions.md
  PAYMONGO_INTEGRATION_COMPLETE.md
  frontend/mobile/src/screens/ReservationScreen.tsx
  frontend/web/src/screens/Payment.jsx
Owners: @parkpal-team, @mobile-team, @frontend-team, @bryanangeloyaneza

fix(mobile): Complete booking flow and marketplace integration
  .claude/agents/mobile-developer.md
  BACKEND_ARCHITECTURE_REVIEW.md
  PHASE1_COMPLETION_SUMMARY.md
  PROJECT_SUMMARY.md
  backend/config/redis.js
  backend/index.js
  backend/prisma/seed-makati.js
  backend/routes/config.js
  backend/tests/handshake-critical.test.js
  docs/DEVELOPMENT_ROADMAP.md
  frontend/mobile/app.json
  frontend/mobile/babel.config.js
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/navigation/BottomTabNavigator.tsx
  frontend/mobile/src/screens/ExploreScreen.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetailScreen.tsx
  frontend/mobile/src/screens/ReservationScreen.tsx
  frontend/mobile/src/screens/SearchScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/bookingSlice.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/mobile/test-api.js
  frontend/web/WEB_DASHBOARD_STATUS.md
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @qa-team, @documentation-team, @frontend-team, @mobile-team

feat(payments): Add PayMongo API key test script
  backend/test-paymongo.js
Owners: @backend-team, @bryanangeloyaneza

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team
