Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team

docs: update status after PR 141 merge
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

fix(backend): configure dev GCS photo bucket
  .github/workflows/deploy-backend.yml
  backend/.env.example
  backend/.env.production.template
  backend/.env.test.example
  backend/config/env-validation.js
  backend/docs/PHOTO_UPLOAD_IMPLEMENTATION_PLAN.md
  backend/services/mediaService.js
  docs/DEPLOYMENT.md
  docs/ENVIRONMENTS.md
Owners: @devops-team, @security-team, @backend-team, @bryanangeloyaneza, @documentation-team

fix(backend): configure dev GCS photo bucket (#143)
  .github/workflows/deploy-backend.yml
  backend/.env.example
  backend/.env.production.template
  backend/.env.test.example
  backend/config/env-validation.js
  backend/docs/PHOTO_UPLOAD_IMPLEMENTATION_PLAN.md
  backend/services/mediaService.js
  docs/DEPLOYMENT.md
  docs/ENVIRONMENTS.md
Owners: @devops-team, @security-team, @backend-team, @bryanangeloyaneza, @documentation-team

feat: add agent knowledge index
  .agents/knowledge/README.md
  .agents/knowledge/schema.md
  .agents/knowledge/sources.json
  .agents/skills/parkpal-knowledge/SKILL.md
  .agents/skills/post-merge-status-planner/SKILL.md
  .claude/session-start-instructions.md
  .gitignore
  DOCUMENTATION.md
  docs/plans/2026-05-22-agent-knowledge-index-implementation.md
  package.json
  scripts/knowledge/build-index.js
  scripts/knowledge/query.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

feat: add agent knowledge index (#144)
  .agents/knowledge/README.md
  .agents/knowledge/schema.md
  .agents/knowledge/sources.json
  .agents/skills/parkpal-knowledge/SKILL.md
  .agents/skills/post-merge-status-planner/SKILL.md
  .claude/session-start-instructions.md
  .gitignore
  DOCUMENTATION.md
  docs/plans/2026-05-22-agent-knowledge-index-implementation.md
  package.json
  scripts/knowledge/build-index.js
  scripts/knowledge/query.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

docs: reconcile markdown status docs
  .agents/knowledge/README.md
  DOCUMENTATION.md
  ROADMAP.md
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
  scripts/knowledge/build-index.js
  scripts/knowledge/query.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team

docs: reconcile markdown status docs (#145)
  .agents/knowledge/README.md
  DOCUMENTATION.md
  ROADMAP.md
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
  scripts/knowledge/build-index.js
  scripts/knowledge/query.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team

docs: update status after PR 141 merge (#142)
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

feat: add lean knowledge context benchmark
  .agents/knowledge/README.md
  .agents/skills/parkpal-knowledge/SKILL.md
  .agents/skills/post-merge-status-planner/SKILL.md
  .claude/session-start-instructions.md
  DOCUMENTATION.md
  package.json
  scripts/knowledge/context.js
  scripts/knowledge/measure-savings.js
  scripts/knowledge/query.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

feat: add lean knowledge context benchmark (#146)
  .agents/knowledge/README.md
  .agents/skills/parkpal-knowledge/SKILL.md
  .agents/skills/post-merge-status-planner/SKILL.md
  .claude/session-start-instructions.md
  DOCUMENTATION.md
  package.json
  scripts/knowledge/context.js
  scripts/knowledge/measure-savings.js
  scripts/knowledge/query.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

fix: resolve mobile TypeScript drift
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
  frontend/mobile/src/navigation/types.ts
  frontend/mobile/src/screens/MyBookingsScreen.tsx
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza, @mobile-team

fix: resolve mobile TypeScript drift (#147)
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
  frontend/mobile/src/navigation/types.ts
  frontend/mobile/src/screens/MyBookingsScreen.tsx
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza, @mobile-team

(fix):improve cash booking payment flow and mobile UI consistency
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/QRScannerScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
Owners: @mobile-team

(fix):improve cash booking payment flow and mobile UI consistency (#149)
  frontend/mobile/src/screens/EarningsScreen.tsx
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/QRScannerScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
Owners: @mobile-team

Add session-aware knowledge regression benchmark
  .agents/knowledge/README.md
  .agents/knowledge/schema.md
  .agents/knowledge/source-map.json
  .agents/knowledge/sources.json
  .claude/session-start-instructions.md
  .gitignore
  docs/agent-knowledge/SESSION_LEARNINGS.md
  package.json
  scripts/knowledge/add-learning.js
  scripts/knowledge/build-index.js
  scripts/knowledge/check.js
  scripts/knowledge/context.js
  scripts/knowledge/query.js
  scripts/knowledge/rebuild-if-stale.js
  scripts/knowledge/regression.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

Add session-aware knowledge regression benchmark (#150)
  .agents/knowledge/README.md
  .agents/knowledge/schema.md
  .agents/knowledge/source-map.json
  .agents/knowledge/sources.json
  .claude/session-start-instructions.md
  .gitignore
  docs/agent-knowledge/SESSION_LEARNINGS.md
  package.json
  scripts/knowledge/add-learning.js
  scripts/knowledge/build-index.js
  scripts/knowledge/check.js
  scripts/knowledge/context.js
  scripts/knowledge/query.js
  scripts/knowledge/rebuild-if-stale.js
  scripts/knowledge/regression.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

feat: add compact knowledge context
  .agents/knowledge/README.md
  .agents/knowledge/compact/roadmap.jsonl
  .agents/knowledge/compact/status.jsonl
  .agents/knowledge/compact/workflow.jsonl
  .agents/knowledge/schema.md
  .agents/knowledge/sources.json
  .agents/skills/parkpal-knowledge/SKILL.md
  .claude/session-start-instructions.md
  AGENTS.md
  DOCUMENTATION.md
  STATUS_REPORT.md
  package.json
  scripts/knowledge/build-compact-mirrors.js
  scripts/knowledge/build-index.js
  scripts/knowledge/context.js
  scripts/knowledge/measure-savings.js
  scripts/knowledge/query.js
  scripts/knowledge/rebuild-if-stale.js
  scripts/knowledge/regression.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

feat: add compact knowledge context (#151)
  .agents/knowledge/README.md
  .agents/knowledge/compact/roadmap.jsonl
  .agents/knowledge/compact/status.jsonl
  .agents/knowledge/compact/workflow.jsonl
  .agents/knowledge/schema.md
  .agents/knowledge/sources.json
  .agents/skills/parkpal-knowledge/SKILL.md
  .claude/session-start-instructions.md
  AGENTS.md
  DOCUMENTATION.md
  STATUS_REPORT.md
  package.json
  scripts/knowledge/build-compact-mirrors.js
  scripts/knowledge/build-index.js
  scripts/knowledge/context.js
  scripts/knowledge/measure-savings.js
  scripts/knowledge/query.js
  scripts/knowledge/rebuild-if-stale.js
  scripts/knowledge/regression.js
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @backend-team, @frontend-team

docs: update status after PR 151 merge
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

docs: update status after PR 151 merge (#152)
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team

chore: reduce agent startup overhead
  .agents/archive/README.md
  .agents/archive/skills/brainstorming/SKILL.md
  .agents/archive/skills/deployment-status/SKILL.md
  .agents/archive/skills/frontend-design/LICENSE.txt
  .agents/archive/skills/frontend-design/SKILL.md
  .agents/archive/skills/gcp-cloud-run/SKILL.md
  .agents/archive/skills/gcp-cost-monitor/SKILL.md
  .agents/archive/skills/mobile-design/SKILL.md
  .agents/archive/skills/mobile-design/decision-trees.md
  .agents/archive/skills/mobile-design/mobile-backend.md
  .agents/archive/skills/mobile-design/mobile-color-system.md
  .agents/archive/skills/mobile-design/mobile-debugging.md
  .agents/archive/skills/mobile-design/mobile-design-thinking.md
  .agents/archive/skills/mobile-design/mobile-navigation.md
  .agents/archive/skills/mobile-design/mobile-performance.md
  .agents/archive/skills/mobile-design/mobile-testing.md
  .agents/archive/skills/mobile-design/mobile-typography.md
  .agents/archive/skills/mobile-design/platform-android.md
  .agents/archive/skills/mobile-design/platform-ios.md
  .agents/archive/skills/mobile-design/scripts/mobile_audit.py
  .agents/archive/skills/mobile-design/touch-psychology.md
  .agents/knowledge/compact/workflow.jsonl
  .codex/archive/README.md
  .codex/archive/agents/code-reviewer.toml
  .codex/archive/agents/data-engineer.toml
  .codex/archive/agents/frontend-developer.toml
  .codex/archive/agents/mobile-developer.toml
  .codex/archive/agents/python-pro.toml
  .codex/archive/agents/test-automator.toml
  .codex/archive/agents/ui-ux-designer.toml
  .codex/archive/docs/knowledge-system-handover.md
  AGENTS.md
  CLAUDE.md
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team

chore: expand knowledge source map
  .agents/knowledge/source-map.json
Owners: @backend-team, @frontend-team

chore: expand knowledge source map (#154)
  .agents/knowledge/source-map.json
Owners: @backend-team, @frontend-team

feat: expose renter behavior status
  backend/controllers/userController.js
  backend/routes/users.js
  backend/services/penaltyService.js
  backend/tests/users.test.js
  frontend/mobile/src/__tests__/utils/behaviorStatus.test.ts
  frontend/mobile/src/components/AccountStanding.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/screens/SecurityPrivacyScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/index.ts
  frontend/mobile/src/store/slices/behaviorSlice.ts
  frontend/mobile/src/types/index.ts
  frontend/mobile/src/utils/behaviorStatus.ts
Owners: @backend-team, @qa-team, @mobile-team, @bryanangeloyaneza

feat: improve mobile list and dark mode states
  frontend/mobile/src/__tests__/components/ListState.test.tsx
  frontend/mobile/src/__tests__/screens/MyListingsScreen.states.test.tsx
  frontend/mobile/src/components/ListState.tsx
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/screens/MyVehiclesScreen.tsx
  frontend/mobile/src/screens/NotificationsScreen.tsx
  frontend/mobile/src/screens/PointsHistoryScreen.tsx
  frontend/mobile/src/screens/ReferralScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
Owners: @qa-team, @mobile-team

feat: expose renter behavior status (#155)
  backend/controllers/userController.js
  backend/routes/users.js
  backend/services/penaltyService.js
  backend/tests/users.test.js
  frontend/mobile/src/__tests__/utils/behaviorStatus.test.ts
  frontend/mobile/src/components/AccountStanding.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/screens/SecurityPrivacyScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/index.ts
  frontend/mobile/src/store/slices/behaviorSlice.ts
  frontend/mobile/src/types/index.ts
  frontend/mobile/src/utils/behaviorStatus.ts
Owners: @backend-team, @qa-team, @mobile-team, @bryanangeloyaneza

feat: improve mobile list and dark mode states (#156)
  frontend/mobile/src/__tests__/components/ListState.test.tsx
  frontend/mobile/src/__tests__/screens/MyListingsScreen.states.test.tsx
  frontend/mobile/src/components/ListState.tsx
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/screens/MyVehiclesScreen.tsx
  frontend/mobile/src/screens/NotificationsScreen.tsx
  frontend/mobile/src/screens/PointsHistoryScreen.tsx
  frontend/mobile/src/screens/ReferralScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
Owners: @qa-team, @mobile-team

feat: add parking candidate discovery scans
  backend/.env.example
  backend/config/env-validation.js
  backend/controllers/adminController.js
  backend/controllers/marketplaceController.js
  backend/index.js
  backend/prisma/migrations/20260524000000_add_parking_candidates/migration.sql
  backend/prisma/schema.prisma
  backend/routes/admin.js
  backend/routes/marketplace.js
  backend/routes/v1/index.js
  backend/scripts/setup-secrets.sh
  backend/scripts/upload-secrets.js
  backend/services/parkingCandidateScanScheduler.js
  backend/services/parkingCandidateScanService.js
  backend/tests/parkingCandidateScheduler.test.js
  backend/tests/parkingCandidates.routes.test.js
  backend/tests/parkingCandidates.unit.test.js
  backend/tests/setup.js
  backend/validators/admin.js
  backend/validators/marketplace.js
  docs/future-phases/SERVICE_1_ANALYTICS.md
  frontend/mobile/src/__tests__/screens/CoreListStates.test.tsx
  frontend/mobile/src/components/ListingBottomSheet.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/types/index.ts
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @database-admin, @qa-team, @documentation-team, @mobile-team

feat: add parking candidate discovery scans (#157)
  backend/.env.example
  backend/config/env-validation.js
  backend/controllers/adminController.js
  backend/controllers/marketplaceController.js
  backend/index.js
  backend/prisma/migrations/20260524000000_add_parking_candidates/migration.sql
  backend/prisma/schema.prisma
  backend/routes/admin.js
  backend/routes/marketplace.js
  backend/routes/v1/index.js
  backend/scripts/setup-secrets.sh
  backend/scripts/upload-secrets.js
  backend/services/parkingCandidateScanScheduler.js
  backend/services/parkingCandidateScanService.js
  backend/tests/parkingCandidateScheduler.test.js
  backend/tests/parkingCandidates.routes.test.js
  backend/tests/parkingCandidates.unit.test.js
  backend/tests/setup.js
  backend/validators/admin.js
  backend/validators/marketplace.js
  docs/future-phases/SERVICE_1_ANALYTICS.md
  frontend/mobile/src/__tests__/screens/CoreListStates.test.tsx
  frontend/mobile/src/components/ListingBottomSheet.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/types/index.ts
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @database-admin, @qa-team, @documentation-team, @mobile-team

docs: update status report after handover merges
  STATUS_REPORT.md
Owners: @parkpal-team

docs: update status report after handover merges (#158)
  STATUS_REPORT.md
Owners: @parkpal-team

chore: reduce agent startup overhead (#153)
  .agents/archive/README.md
  .agents/archive/skills/brainstorming/SKILL.md
  .agents/archive/skills/deployment-status/SKILL.md
  .agents/archive/skills/frontend-design/LICENSE.txt
  .agents/archive/skills/frontend-design/SKILL.md
  .agents/archive/skills/gcp-cloud-run/SKILL.md
  .agents/archive/skills/gcp-cost-monitor/SKILL.md
  .agents/archive/skills/mobile-design/SKILL.md
  .agents/archive/skills/mobile-design/decision-trees.md
  .agents/archive/skills/mobile-design/mobile-backend.md
  .agents/archive/skills/mobile-design/mobile-color-system.md
  .agents/archive/skills/mobile-design/mobile-debugging.md
  .agents/archive/skills/mobile-design/mobile-design-thinking.md
  .agents/archive/skills/mobile-design/mobile-navigation.md
  .agents/archive/skills/mobile-design/mobile-performance.md
  .agents/archive/skills/mobile-design/mobile-testing.md
  .agents/archive/skills/mobile-design/mobile-typography.md
  .agents/archive/skills/mobile-design/platform-android.md
  .agents/archive/skills/mobile-design/platform-ios.md
  .agents/archive/skills/mobile-design/scripts/mobile_audit.py
  .agents/archive/skills/mobile-design/touch-psychology.md
  .agents/knowledge/compact/workflow.jsonl
  .codex/archive/README.md
  .codex/archive/agents/code-reviewer.toml
  .codex/archive/agents/data-engineer.toml
  .codex/archive/agents/frontend-developer.toml
  .codex/archive/agents/mobile-developer.toml
  .codex/archive/agents/python-pro.toml
  .codex/archive/agents/test-automator.toml
  .codex/archive/agents/ui-ux-designer.toml
  .codex/archive/docs/knowledge-system-handover.md
  AGENTS.md
  CLAUDE.md
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team

docs: update status after startup cleanup merge
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
Owners: @parkpal-team

docs: update status after startup cleanup merge (#159)
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
Owners: @parkpal-team

docs: record startup smoke test
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
Owners: @parkpal-team

docs: record startup smoke test (#160)
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
Owners: @parkpal-team

test: stabilize web vitest timeouts
  frontend/web/src/test/accessibility.test.tsx
  frontend/web/vitest.config.ts
Owners: @qa-team, @frontend-team, @bryanangeloyaneza

test: stabilize web vitest timeouts (#161)
  frontend/web/src/test/accessibility.test.tsx
  frontend/web/vitest.config.ts
Owners: @qa-team, @frontend-team, @bryanangeloyaneza

docs: update status after PR 161
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

docs: update status after PR 161 (#162)
  .agents/knowledge/compact/status.jsonl
  STATUS_REPORT.md
  docs/BETA_READINESS_CHECKLIST.md
  scripts/knowledge/build-compact-mirrors.js
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza
