Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team

fix(web): Load Google Maps even when no parking slots exist
  frontend/web/src/screens/MapView.jsx
Owners: @frontend-team, @bryanangeloyaneza

fix(web): Load Google Maps even when no parking slots exist (#109)
  frontend/web/src/screens/MapView.jsx
Owners: @frontend-team, @bryanangeloyaneza

feat(web): Add auto-refresh and manual refresh button to MapView
  frontend/web/src/screens/MapView.jsx
Owners: @frontend-team, @bryanangeloyaneza

feat(web): Add auto-refresh and manual refresh button to MapView (#110)
  frontend/web/src/screens/MapView.jsx
Owners: @frontend-team, @bryanangeloyaneza

feat(mobile): Phase 1 - Implement green theme rebrand
  frontend/mobile/STITCH_TO_RN_CONVERSION_GUIDE.md
  frontend/mobile/src/theme/shadows.ts
  frontend/mobile/src/theme/spacing.ts
Owners: @mobile-team, @bryanangeloyaneza

feat(mobile): Update Button component with green theme and shadows
  frontend/mobile/src/components/Button.tsx
Owners: @mobile-team

feat(mobile): Update Card component with new design system
  frontend/mobile/src/components/Card.tsx
Owners: @mobile-team

feat(mobile): Update Input component with focus states and new theme
  frontend/mobile/src/components/Input.tsx
Owners: @mobile-team

docs(mobile): Add UI redesign progress report
  frontend/mobile/STATUS_REPORT.md
Owners: @mobile-team, @bryanangeloyaneza

feat(mobile): Batch update simple components with green theme
  frontend/mobile/src/components/Badge.tsx
  frontend/mobile/src/components/Chip.tsx
  frontend/mobile/src/components/LoadingSpinner.tsx
  frontend/mobile/src/components/SkeletonLoader.tsx
Owners: @mobile-team

docs(mobile): Update STATUS_REPORT with batch component completion
  frontend/mobile/STATUS_REPORT.md
Owners: @mobile-team, @bryanangeloyaneza

fix(mobile): Export shadows from theme index
  frontend/mobile/src/theme/index.ts
Owners: @mobile-team, @bryanangeloyaneza

feat(mobile): Add multi-environment backend configuration
  frontend/mobile/.env.development
  frontend/mobile/.env.production
  frontend/mobile/.env.staging
  frontend/mobile/app.config.js
  frontend/mobile/docs/BACKEND_SWITCHING.md
  frontend/mobile/docs/DEPLOYMENT_ENVIRONMENTS.md
  frontend/mobile/src/components/DevModeIndicator.tsx
  frontend/mobile/src/config/api.config.ts
  frontend/mobile/src/services/api.ts
Owners: @devops-team, @backend-team, @frontend-team, @mobile-team, @bryanangeloyaneza

feat(mobile): Implement zero-config backend connection
  README.md
  STATUS_REPORT.md
  frontend/mobile/.env.local.example
  frontend/mobile/PROJECT_SUMMARY.md
  frontend/mobile/README.md
  frontend/mobile/docs/BACKEND_SWITCHING.md
  frontend/mobile/scripts/get-local-ip.js
  frontend/mobile/src/config/api.config.ts
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @devops-team, @backend-team, @mobile-team

docs: Add git branch protection policy to session instructions
  .claude/session-start-instructions.md
Owners: @parkpal-team

feat(mobile): Zero-config backend connection (#111)
  README.md
  STATUS_REPORT.md
  frontend/mobile/.env.development
  frontend/mobile/.env.local.example
  frontend/mobile/.env.production
  frontend/mobile/.env.staging
  frontend/mobile/PROJECT_SUMMARY.md
  frontend/mobile/README.md
  frontend/mobile/STATUS_REPORT.md
  frontend/mobile/STITCH_TO_RN_CONVERSION_GUIDE.md
  frontend/mobile/app.config.js
  frontend/mobile/docs/BACKEND_SWITCHING.md
  frontend/mobile/docs/DEPLOYMENT_ENVIRONMENTS.md
  frontend/mobile/scripts/get-local-ip.js
  frontend/mobile/src/components/Badge.tsx
  frontend/mobile/src/components/Button.tsx
  frontend/mobile/src/components/Card.tsx
  frontend/mobile/src/components/Chip.tsx
  frontend/mobile/src/components/DevModeIndicator.tsx
  frontend/mobile/src/components/Input.tsx
  frontend/mobile/src/components/LoadingSpinner.tsx
  frontend/mobile/src/components/SkeletonLoader.tsx
  frontend/mobile/src/config/api.config.ts
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/theme/index.ts
  frontend/mobile/src/theme/shadows.ts
  frontend/mobile/src/theme/spacing.ts
Owners: @documentation-team, @bryanangeloyaneza, @parkpal-team, @devops-team, @backend-team, @mobile-team, @frontend-team

docs: Add git branch protection policy (#112)
  .claude/session-start-instructions.md
Owners: @parkpal-team

docs(mobile): Create 6-week full polish completion roadmap
  STATUS_REPORT.md
  frontend/mobile/MOBILE_6_WEEK_COMPLETION_ROADMAP.md
Owners: @parkpal-team, @mobile-team, @bryanangeloyaneza

fix(mobile): Add retry logic for Google Maps API key fetch
  frontend/mobile/src/screens/ExploreScreen.tsx
  frontend/mobile/src/screens/SearchScreen.tsx
  frontend/mobile/src/services/mapsConfig.ts
Owners: @mobile-team, @bryanangeloyaneza

fix(mobile): Fix QR code generation and payment methods in ReservationScreen
  backend/controllers/marketplaceController.js
  frontend/mobile/src/screens/ReservationScreen.tsx
Owners: @backend-team, @mobile-team

test(backend): Add tests for getListingById qrCodeData generation
  backend/tests/marketplace.test.js
Owners: @qa-team

feat(mobile): Complete My Listings feature redesign
  STATUS_REPORT.md
  backend/controllers/marketplaceController.js
  backend/routes/marketplace.js
  frontend/mobile/MOBILE_6_WEEK_COMPLETION_ROADMAP.md
  frontend/mobile/src/screens/ListSpotScreen.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/services/api.ts
Owners: @parkpal-team, @backend-team, @mobile-team, @bryanangeloyaneza

chore: add IDE files to .gitignore
  .gitignore
Owners: @parkpal-team

feat(backend): add vehicles, notifications, earnings, Google auth APIs
  STATUS_REPORT.md
  backend/controllers/earningsController.js
  backend/controllers/googleAuthController.js
  backend/controllers/marketplaceController.js
  backend/controllers/notificationsController.js
  backend/controllers/vehiclesController.js
  backend/prisma/migrations/20260316113950_add_vehicles_table/migration.sql
  backend/prisma/migrations/20260320090930_add_notifications_table/migration.sql
  backend/prisma/schema.prisma
  backend/routes/earnings.js
  backend/routes/googleAuth.js
  backend/routes/marketplace.js
  backend/routes/notifications.js
  backend/routes/v1/index.js
  backend/routes/vehicles.js
  backend/scripts/seed-bookings.js
  backend/scripts/seed-via-api.js
Owners: @parkpal-team, @backend-team, @database-admin, @bryanangeloyaneza

docs: update mobile 6-week completion roadmap with current status
  frontend/mobile/MOBILE_6_WEEK_COMPLETION_ROADMAP.md
Owners: @mobile-team, @bryanangeloyaneza

feat: Google OAuth fix, notifications inbox, backend tests
  backend/controllers/googleAuthController.js
  backend/routes/googleAuth.js
  backend/routes/v1/index.js
  backend/tests/earnings.test.js
  backend/tests/googleAuth.test.js
  backend/tests/notifications.test.js
  backend/tests/vehicles.test.js
  frontend/mobile/app.config.js
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/NotificationsScreen.tsx
  frontend/mobile/src/services/api.ts
Owners: @backend-team, @qa-team, @frontend-team, @mobile-team, @bryanangeloyaneza

fix: change OAuth scheme from parkpal to parknquik
  frontend/mobile/app.config.js
  frontend/mobile/src/screens/AuthScreen.tsx
Owners: @backend-team, @frontend-team, @mobile-team

fix: use expo auth proxy for Google OAuth redirect
  frontend/mobile/src/screens/AuthScreen.tsx
Owners: @mobile-team

fix: add Material Symbols font with expo-font loader
  frontend/mobile/App.tsx
  frontend/mobile/assets/fonts/MaterialSymbols.ttf
Owners: @mobile-team, @bryanangeloyaneza

fix: use @expo-google-fonts/material-symbols package for icons
  frontend/mobile/App.tsx
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
Owners: @mobile-team, @bryanangeloyaneza, @backend-team, @frontend-team

fix: revert to local font file, remove useProxy from OAuth
  frontend/mobile/App.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
Owners: @mobile-team, @bryanangeloyaneza

debug: simplify App.tsx to diagnose issue
  frontend/mobile/App.tsx
Owners: @mobile-team, @bryanangeloyaneza

fix: update backend IP to match running server (192.168.100.176)
  frontend/mobile/.env.local
Owners: @devops-team, @backend-team

fix: move QR scanning from listing details to confirmed bookings
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetails.tsx
Owners: @mobile-team

fix: add comprehensive logging and error handling for vehicle creation
  backend/controllers/vehiclesController.js
  frontend/mobile/src/screens/MyVehiclesScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/vehiclesSlice.ts
Owners: @backend-team, @mobile-team, @bryanangeloyaneza

feat: add booking extensions and rental modes with auto-checkout
  backend/AUTO_CHECKOUT_SUMMARY.md
  backend/controllers/marketplaceController.js
  backend/controllers/paymentsController.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20260408224512_add_rental_mode_support/migration.sql
  backend/prisma/migrations/20260408230232_add_booking_extension_tracking/migration.sql
  backend/prisma/schema.prisma
  backend/routes/marketplace.js
  backend/services/AUTO_CHECKOUT_MANUAL_TEST.md
  backend/services/AUTO_CHECKOUT_QUICK_REF.md
  backend/services/AUTO_CHECKOUT_README.md
  backend/services/autoCheckout.js
  backend/services/paymongo.js
  backend/tests/autoCheckout.test.js
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/types/index.ts
Owners: @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin, @qa-team, @mobile-team

test: add comprehensive test coverage for rental modes and extensions
  backend/tests/marketplace.test.js
  backend/tests/payments.test.js
  backend/tests/rental-modes-integration.test.js
  frontend/mobile/jest.config.js
  frontend/mobile/src/__tests__/components/ExtensionModal.test.tsx
  frontend/mobile/src/store/slices/__tests__/bookingSlice.test.ts
Owners: @qa-team, @backend-team, @frontend-team

feat: add cash payment method support
  backend/controllers/marketplaceController.js
  backend/controllers/paymentsController.js
  backend/routes/marketplace.js
  backend/tests/payments.test.js
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/services/api.ts
Owners: @backend-team, @qa-team, @mobile-team, @bryanangeloyaneza

feat: add booking expiry protocol for missed reservations
  backend/index.js
  backend/services/bookingExpiry.js
  frontend/mobile/src/screens/MyBookingsScreen.tsx
Owners: @backend-team, @bryanangeloyaneza, @mobile-team

test: add booking expiry tests
  backend/tests/bookingExpiry.test.js
  backend/tests/marketplace.test.js
Owners: @qa-team
