Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team

feat(test): trigger workflow for status checks
  test.txt
Owners: @parkpal-team

BRANCH_PROTECTION changes
  docs/BRANCH_PROTECTION.md
Owners: @documentation-team, @bryanangeloyaneza

feat: add marketplace, QR scanner, and enhance booking system
  backend/controllers/alertsController.js
  backend/controllers/marketplaceController.js
  backend/controllers/parkingController.js
  backend/controllers/paymentsController.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20251005125902_add_marketplace_and_analytics_features/migration.sql
  backend/prisma/migrations/20251006085022_update_marketplace_schema/migration.sql
  backend/prisma/migrations/20251006085237_add_booking_session_link/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.js
  backend/routes/marketplace.js
  backend/services/qrcode.js
  frontend/mobile/package.json
  frontend/mobile/src/screens/HomeScreen.tsx
  frontend/mobile/src/screens/ParkingDetailScreen.tsx
  frontend/mobile/src/screens/QRScannerScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/index.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/mobile/src/types/index.ts
Owners: @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin, @mobile-team

docs: add comprehensive documentation and test suite
  backend/tests/alerts.test.js
  backend/tests/auth.test.js
  backend/tests/marketplace.test.js
  backend/tests/parking.test.js
  backend/tests/payments.test.js
  backend/tests/setup.js
  docs/AZURE_DEPLOYMENT.md
  docs/CLOUD_DEPLOYMENT.md
  docs/CODEBASE_REVIEW.md
  docs/DEVELOPMENT_ROADMAP.md
  docs/PARKPAL_SYSTEM_ARCHITECTURE.md
  frontend/mobile/package-lock.json
Owners: @qa-team, @backend-team, @bryanangeloyaneza, @documentation-team, @frontend-team

Add GCP Secret Manager integration for secure API key management
  .gitignore
  backend/.env.example
  backend/config/secretManager.js
  backend/controllers/configController.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/routes/config.js
  docs/GCP_SECRET_MANAGER_SETUP.md
  frontend/mobile/.gitignore
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/mapsConfig.ts
  frontend/web/.gitignore
Owners: @parkpal-team, @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @frontend-team, @documentation-team, @mobile-team

Add marketplace features and mobile app updates
  PHASE1_COMPLETION_SUMMARY.md
  backend/PRISMA_STUDIO_GUIDE.md
  backend/TEST_RESULTS.md
  backend/controllers/marketplaceController.js
  backend/get-host.js
  backend/prisma/seed.js
  backend/routes/marketplace.js
  backend/scripts/seedSanJoseListings.js
  backend/services/listingVerification.js
  backend/test-marketplace.js
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/HomeScreen.tsx
  frontend/mobile/src/screens/ListSpotScreen.tsx
  frontend/mobile/src/screens/MapViewScreen.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetailScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/screens/QRGeneratorScreen.tsx
  frontend/mobile/src/screens/QRScannerScreen.tsx
  frontend/mobile/src/screens/ReservationScreen.tsx
  frontend/mobile/src/store/slices/authSlice.ts
  frontend/mobile/src/store/slices/locationSlice.ts
  frontend/mobile/src/store/slices/marketplaceSlice.ts
  frontend/web/.env.local.example
  frontend/web/GOOGLE_MAPS_SETUP.md
  frontend/web/WEB_DASHBOARD_GUIDE.md
  frontend/web/src/App.jsx
  frontend/web/src/api.jsx
  frontend/web/src/screens/AdminDashboard.jsx
  frontend/web/src/screens/HostDashboard.jsx
  frontend/web/src/screens/ListSlot.jsx
  frontend/web/src/screens/ListingDetail.jsx
  frontend/web/src/screens/Login.jsx
  frontend/web/src/screens/MapView.jsx
  frontend/web/src/screens/Profile.jsx
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @devops-team

feat: Add TypeScript, Error Boundary, and loading states to web frontend
  frontend/web/.env.development
  frontend/web/IMPROVEMENTS_SUMMARY.md
  frontend/web/TYPESCRIPT_MIGRATION.md
  frontend/web/dist/index.html
  frontend/web/index.html
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/src/App.tsx
  frontend/web/src/api.ts
  frontend/web/src/components/ErrorBoundary.tsx
  frontend/web/src/components/LoadingSpinner.tsx
  frontend/web/src/index.tsx
  frontend/web/src/screens/Profile.jsx
  frontend/web/src/types/index.ts
  frontend/web/tsconfig.json
Owners: @devops-team, @backend-team, @frontend-team, @bryanangeloyaneza

fix: Resolve login issues and update passwords
  backend/.env
  backend/index.js
  backend/prisma/dev.db
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/services/api.ts
Owners: @backend-team, @bryanangeloyaneza, @database-admin, @mobile-team

feat: Implement review system for parking listings
  REVIEW_FEATURE_IMPLEMENTATION.md
  backend/prisma/dev.db
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/ReviewScreen.tsx
  frontend/mobile/src/store/slices/marketplaceSlice.ts
Owners: @parkpal-team, @database-admin, @bryanangeloyaneza, @mobile-team

fix: add missing tsconfig.node.json for Vite build
  frontend/web/tsconfig.node.json
Owners: @backend-team, @frontend-team

feat: implement security quick wins (rate limiting, CORS, helmet, indexes)
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20251019043801_add_performance_indexes/migration.sql
  backend/prisma/schema.prisma
  backend/routes/auth.js
Owners: @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin

feat: implement security quick wins (rate limiting, CORS, helmet, indexes) (#9)
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20251019043801_add_performance_indexes/migration.sql
  backend/prisma/schema.prisma
  backend/routes/auth.js
Owners: @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin

feat(web): add testing infrastructure with vitest
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/src/test/setup.ts
  frontend/web/src/test/utils.tsx
  frontend/web/vitest.config.ts
Owners: @backend-team, @frontend-team, @bryanangeloyaneza

refactor(web): remove duplicate api.jsx file
  frontend/web/src/api.jsx
Owners: @frontend-team, @bryanangeloyaneza

fix(web): update API endpoints and base URL configuration
  frontend/web/.env
  frontend/web/dist/index.html
  frontend/web/src/api.ts
  frontend/web/src/screens/AdminDashboard.jsx
  frontend/web/src/screens/HostDashboard.jsx
  frontend/web/src/screens/ListSlot.jsx
  frontend/web/src/screens/ListingDetail.jsx
  frontend/web/src/screens/Login.jsx
  frontend/web/src/screens/MapView.jsx
  frontend/web/src/screens/Payment.jsx
  frontend/web/src/screens/Profile.jsx
  frontend/web/src/screens/Reservation.jsx
Owners: @frontend-team, @bryanangeloyaneza

fix(mobile): improve API configuration and UI enhancements
  frontend/mobile/.prettierrc
  frontend/mobile/app.json
  frontend/mobile/src/components/ParkingCard.tsx
  frontend/mobile/src/screens/HomeScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/mapsConfig.ts
Owners: @mobile-team, @bryanangeloyaneza, @backend-team, @frontend-team

feat(backend): implement password policy and validation
  backend/controllers/authController.js
  backend/get-host.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/seed.js
  backend/routes/auth.js
  backend/scripts/seedSanJoseListings.js
  backend/services/auth.js
  backend/test-marketplace.js
  backend/tests/auth.test.js
Owners: @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin, @security-team, @qa-team

docs: add password policy documentation and prettier config
  backend/PASSWORD_POLICY.md
  frontend/web/.prettierrc
Owners: @backend-team, @bryanangeloyaneza, @frontend-team

feat(various): Applied enhancments (#10)
  backend/PASSWORD_POLICY.md
  backend/controllers/authController.js
  backend/get-host.js
  backend/index.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/seed.js
  backend/routes/auth.js
  backend/scripts/seedSanJoseListings.js
  backend/services/auth.js
  backend/test-marketplace.js
  backend/tests/auth.test.js
  frontend/mobile/.prettierrc
  frontend/mobile/app.json
  frontend/mobile/src/components/ParkingCard.tsx
  frontend/mobile/src/screens/HomeScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/mapsConfig.ts
  frontend/web/.env
  frontend/web/.prettierrc
  frontend/web/dist/index.html
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/src/api.jsx
  frontend/web/src/api.ts
  frontend/web/src/screens/AdminDashboard.jsx
  frontend/web/src/screens/HostDashboard.jsx
  frontend/web/src/screens/ListSlot.jsx
  frontend/web/src/screens/ListingDetail.jsx
  frontend/web/src/screens/Login.jsx
  frontend/web/src/screens/MapView.jsx
  frontend/web/src/screens/Payment.jsx
  frontend/web/src/screens/Profile.jsx
  frontend/web/src/screens/Reservation.jsx
  frontend/web/src/test/setup.ts
  frontend/web/src/test/utils.tsx
  frontend/web/vitest.config.ts
Owners: @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin, @security-team, @qa-team, @mobile-team

docs: add project documentation and Claude Code configuration
  .claude/agents/frontend-developer.md
  .claude/agents/ui-ux-designer.md
  .claude/session-start-instructions.md
  BACKEND_ARCHITECTURE_REVIEW.md
  BACKEND_SECURITY_PERFORMANCE_AUDIT.md
  PROJECT_SUMMARY.md
  backend/.claude/agents/backend-architect.md
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza

chore: ignore .DS_Store files
  .gitignore
Owners: @parkpal-team

chore: ignore SQLite database files (.db)
  backend/.gitignore
Owners: @backend-team, @bryanangeloyaneza

chore: remove dev.db from git tracking
  backend/prisma/dev.db
Owners: @database-admin, @bryanangeloyaneza

Feature/frontend enchancements (#11)
  .claude/agents/frontend-developer.md
  .claude/agents/ui-ux-designer.md
  .claude/session-start-instructions.md
  .gitignore
  BACKEND_ARCHITECTURE_REVIEW.md
  BACKEND_SECURITY_PERFORMANCE_AUDIT.md
  PROJECT_SUMMARY.md
  backend/.claude/agents/backend-architect.md
  backend/.gitignore
  backend/prisma/dev.db
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin

feat(web): convert Login to TypeScript with comprehensive tests (TDD)
  frontend/web/src/screens/Login.tsx
  frontend/web/src/screens/__tests__/Login.test.tsx
  frontend/web/src/types/api.ts
  frontend/web/src/types/index.ts
Owners: @frontend-team, @bryanangeloyaneza, @qa-team

fix(web): remove unused parameter in Login component
  frontend/web/src/screens/Login.tsx
Owners: @frontend-team, @bryanangeloyaneza

feat(web): add AuthContext and ProtectedRoute with full test coverage (TDD)
  frontend/web/src/components/ProtectedRoute.tsx
  frontend/web/src/components/__tests__/ProtectedRoute.test.tsx
  frontend/web/src/contexts/AuthContext.tsx
  frontend/web/src/contexts/__tests__/AuthContext.test.tsx
Owners: @frontend-team, @qa-team, @bryanangeloyaneza

docs: add git commit policy to session instructions
  .claude/session-start-instructions.md
Owners: @parkpal-team

feat(web): integrate AuthContext throughout app and protect routes
  frontend/web/src/App.tsx
  frontend/web/src/screens/Login.tsx
  frontend/web/src/test/utils.tsx
Owners: @frontend-team, @bryanangeloyaneza

feat(web): add NavBar component with logout functionality
  frontend/web/src/App.tsx
  frontend/web/src/components/NavBar.tsx
  frontend/web/src/components/__tests__/NavBar.test.tsx
Owners: @frontend-team, @bryanangeloyaneza, @qa-team

fix(web): remove duplicate navbar and fix CORS for port 5174
  backend/index.js
  frontend/web/src/screens/MapView.jsx
Owners: @backend-team, @bryanangeloyaneza, @frontend-team

chore(web): remove old Profile.jsx file
  frontend/web/src/screens/Profile.jsx
Owners: @frontend-team, @bryanangeloyaneza

feat(auth): add form validation with react-hook-form and zod
  frontend/web/package-lock.json
  frontend/web/package.json
  frontend/web/src/schemas/auth.schema.ts
  frontend/web/src/screens/Login.tsx
  frontend/web/src/screens/__tests__/Login.test.tsx
Owners: @backend-team, @frontend-team, @bryanangeloyaneza, @qa-team

test: add comprehensive auth integration tests
  frontend/web/src/__tests__/auth-integration.test.tsx
Owners: @qa-team

feat(backend): add input validation and error handling (P0 security)
  backend/index.js
  backend/middleware/errorHandler.js
  backend/middleware/validation.js
  backend/package-lock.json
  backend/package.json
  backend/routes/auth.js
  backend/routes/health.js
  backend/validators/auth.js
  backend/validators/marketplace.js
Owners: @backend-team, @bryanangeloyaneza, @frontend-team

feat(backend): add input validation and error handling (P0 security) (#15)
  backend/index.js
  backend/middleware/errorHandler.js
  backend/middleware/validation.js
  backend/package-lock.json
  backend/package.json
  backend/routes/auth.js
  backend/routes/health.js
  backend/validators/auth.js
  backend/validators/marketplace.js
Owners: @backend-team, @bryanangeloyaneza, @frontend-team

feat(backend): P1 quick wins - WebSocket auth, pagination, search optimization
  backend/.env.example
  backend/ENV_SETUP.md
  backend/controllers/marketplaceController.js
  backend/middleware/deprecation.js
  backend/middleware/pagination.js
  backend/routes/marketplace.js
  backend/routes/parking.js
  backend/services/websocket.js
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza

docs(backend): add P1 testing results and verification
  backend/P1_TESTING_RESULTS.md
Owners: @backend-team, @bryanangeloyaneza

feat(backend): p1 quick wins (#17)
  backend/.env.example
  backend/ENV_SETUP.md
  backend/P1_TESTING_RESULTS.md
  backend/controllers/marketplaceController.js
  backend/middleware/deprecation.js
  backend/middleware/pagination.js
  backend/routes/marketplace.js
  backend/routes/parking.js
  backend/services/websocket.js
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza

feat(backend): implement API versioning with /api/v1
  backend/API_VERSIONING_GUIDE.md
  backend/index.js
  backend/routes/alerts.js
  backend/routes/auth.js
  backend/routes/config.js
  backend/routes/marketplace.js
  backend/routes/parking.js
  backend/routes/payments.js
  backend/routes/v1/index.js
Owners: @backend-team, @bryanangeloyaneza
