Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team

test: Trigger CD pipeline deployment (#66)
  backend/index.js
Owners: @backend-team, @bryanangeloyaneza

fix: Remove non-existent backend directory from Dockerfile
  backend/Dockerfile.production
Owners: @backend-team, @bryanangeloyaneza

fix: Remove non-existent backend directory from Dockerfile (#67)
  backend/Dockerfile.production
Owners: @backend-team, @bryanangeloyaneza

fix: Add OpenSSL runtime dependencies for Prisma
  backend/Dockerfile.production
Owners: @backend-team, @bryanangeloyaneza

docs: Add comprehensive CD pipeline status and troubleshooting guide
  CD_PIPELINE_STATUS.md
Owners: @parkpal-team

fix: Add OpenSSL runtime dependencies for Prisma (#68)
  backend/Dockerfile.production
Owners: @backend-team, @bryanangeloyaneza

docs: Add comprehensive CD pipeline status and troubleshooting guide (#69)
  CD_PIPELINE_STATUS.md
Owners: @parkpal-team

fix: Trigger redeploy after DATABASE_URL secret update
  backend/index.js
Owners: @backend-team, @bryanangeloyaneza

fix: Trigger redeploy after DATABASE_URL secret update (#70)
  backend/index.js
Owners: @backend-team, @bryanangeloyaneza

fix: Update DATABASE_URL to use localhost host
  backend/index.js
Owners: @backend-team, @bryanangeloyaneza

fix: Update DATABASE_URL to use localhost host (#71)
  backend/index.js
Owners: @backend-team, @bryanangeloyaneza

fix: Use TCP connection for Cloud SQL
  backend/index.js
Owners: @backend-team, @bryanangeloyaneza

fix: Use TCP connection for Cloud SQL (#72)
  backend/index.js
Owners: @backend-team, @bryanangeloyaneza

fix: Test with Cloud SQL Client IAM role
  backend/index.js
Owners: @backend-team, @bryanangeloyaneza

fix: Use --set-cloudsql-instances for Cloud Run Jobs migrations
  .github/workflows/deploy-backend.yml
Owners: @devops-team

fix: Use --set-cloudsql-instances for Cloud Run Jobs migrations (#74)
  .github/workflows/deploy-backend.yml
Owners: @devops-team

fix: Install jest-expo to unblock mobile tests (45/45 passing)
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
Owners: @backend-team, @frontend-team

docs: Update session-start-instructions for February 2026 state
  .claude/session-start-instructions.md
Owners: @parkpal-team

fix: Mobile tests unblocked + Session instructions updated (#76)
  .claude/session-start-instructions.md
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
Owners: @parkpal-team, @backend-team, @frontend-team

feat: Add SMTP secrets to deployment workflow
  .github/workflows/deploy-backend.yml
Owners: @devops-team

docs: Complete documentation cleanup consolidation
  .claude/session-start-instructions.md
  CD_PIPELINE_STATUS.md
  DEPLOYMENT_CHECKLIST.md
  STATUS_REPORT.md
  docs/DEPLOYMENT.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza

docs: Add living document structure to STATUS_REPORT.md and create ROADMAP.md
  ROADMAP.md
  STATUS_REPORT.md
Owners: @parkpal-team

docs: Make ROADMAP.md a living document with update instructions
  ROADMAP.md
Owners: @parkpal-team

docs: Complete documentation cleanup consolidation (#80)
  .claude/session-start-instructions.md
  .github/workflows/deploy-backend.yml
  CD_PIPELINE_STATUS.md
  DEPLOYMENT_CHECKLIST.md
  JANUARY_2026_STATUS_REPORT.md
  ROADMAP.md
  STATUS_REPORT.md
  docs/DEPLOYMENT.md
Owners: @parkpal-team, @devops-team, @documentation-team, @bryanangeloyaneza

fix: Setup PostgreSQL test database (+185 tests passing)
  STATUS_REPORT.md
Owners: @parkpal-team

fix: Setup PostgreSQL test database (+185 tests passing) (#81)
  STATUS_REPORT.md
Owners: @parkpal-team

fix: Add isInitialized property to Secret Manager health check
  backend/config/secretManager.js
Owners: @backend-team, @bryanangeloyaneza

fix: Add isInitialized property to Secret Manager health check (#82)
  backend/config/secretManager.js
Owners: @backend-team, @bryanangeloyaneza

fix: Update email FROM address to use parknquik.com domain
  backend/services/email.js
Owners: @backend-team

fix: Update email FROM address to use parknquik.com domain (#83)
  backend/services/email.js
Owners: @backend-team

fix: Correct nodemailer function name from createTransporter to createTransport
  backend/services/email.js
Owners: @backend-team

fix: Correct nodemailer function name from createTransporter to createTransport (#84)
  backend/services/email.js
Owners: @backend-team

feat: Add MCP integration and workflow automation (7 skills, 2 agents)
  .claude/FUTURE_SKILLS_ROADMAP.md
  .claude/MCP_INTEGRATION_GUIDE.md
  .claude/SKILLS_QUICK_REFERENCE.md
  .claude/agents/code-reviewer.md
  .claude/agents/python-pro.md
  .claude/skills/backend-diagnostics/SKILL.md
  .claude/skills/brainstorming/SKILL.md
  .claude/skills/deployment-status/SKILL.md
  .claude/skills/gcp-cloud-run/SKILL.md
  .claude/skills/gcp-cost-monitor/SKILL.md
  .claude/skills/pr-checker/SKILL.md
  .claude/skills/test-runner/SKILL.md
  STATUS_REPORT.md
Owners: @parkpal-team

feat: Add MCP integration and workflow automation (7 skills, 2 agents) (#85)
  .claude/FUTURE_SKILLS_ROADMAP.md
  .claude/MCP_INTEGRATION_GUIDE.md
  .claude/SKILLS_QUICK_REFERENCE.md
  .claude/agents/code-reviewer.md
  .claude/agents/python-pro.md
  .claude/skills/backend-diagnostics/SKILL.md
  .claude/skills/brainstorming/SKILL.md
  .claude/skills/deployment-status/SKILL.md
  .claude/skills/gcp-cloud-run/SKILL.md
  .claude/skills/gcp-cost-monitor/SKILL.md
  .claude/skills/pr-checker/SKILL.md
  .claude/skills/test-runner/SKILL.md
  STATUS_REPORT.md
Owners: @parkpal-team

feat: Migrate email service from Nodemailer (SMTP) to Resend API
  .github/workflows/deploy-backend.yml
  MIGRATION_GUIDE.md
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/services/email.js
Owners: @devops-team, @parkpal-team, @security-team, @backend-team, @frontend-team

test: Add comprehensive test suite for Resend email integration
  backend/services/email.js
  backend/tests/EMAIL_TESTING_GUIDE.md
  backend/tests/email.test.js
  backend/tests/password-reset.test.js
Owners: @backend-team, @bryanangeloyaneza, @qa-team

feat: Migrate email service from Nodemailer (SMTP) to Resend API (#86)
  .github/workflows/deploy-backend.yml
  MIGRATION_GUIDE.md
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/services/email.js
  backend/tests/EMAIL_TESTING_GUIDE.md
  backend/tests/email.test.js
  backend/tests/password-reset.test.js
Owners: @devops-team, @parkpal-team, @security-team, @backend-team, @frontend-team, @bryanangeloyaneza, @qa-team

fix: Fix analytics test failures by updating test fixtures
  backend/tests/analytics.test.js
Owners: @qa-team

docs: Update STATUS_REPORT.md with Resend migration and test improvements
  STATUS_REPORT.md
Owners: @parkpal-team

docs: Update STATUS_REPORT.md with Resend migration and test improvements (#87)
  STATUS_REPORT.md
  backend/tests/analytics.test.js
Owners: @parkpal-team, @qa-team
