Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

feat: add cash payment method and booking expiry protocol
  backend/controllers/vehiclesController.js
  backend/routes/marketplace.js
  backend/scripts/checkExpiredBookings.js
  backend/scripts/forceExpire.js
  backend/scripts/listBookings.js
  frontend/mobile/.env.local
  frontend/mobile/App.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/MyVehiclesScreen.tsx
  frontend/mobile/src/store/slices/vehiclesSlice.ts
Owners: @backend-team, @bryanangeloyaneza, @devops-team, @mobile-team

fix: resolve UI issues from Claude Code assessment
  CLAUDE_OPINION_REQUEST.md
  ROADMAP.md
  STATUS_REPORT.md
  backend/controllers/marketplaceController.js
  backend/prisma/migrations/20260409000000_add_title_to_parking_slot/migration.sql
  backend/prisma/schema.prisma
  backend/validators/marketplace.js
  frontend/mobile/src/screens/BookingConfirmed.tsx
  frontend/mobile/src/screens/DesignSystem.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/screens/SearchFilters.tsx
  frontend/mobile/src/screens/WriteReview.tsx
  frontend/mobile/src/store/slices/parkingSlice.ts
Owners: @parkpal-team, @backend-team, @database-admin, @bryanangeloyaneza, @mobile-team

fix: remove .env.local from git tracking
  frontend/mobile/.env.local
Owners: @devops-team, @backend-team

fix: auto-expand radius fallback
  backend/controllers/marketplaceController.js
Owners: @backend-team

feat: add profile picture upload functionality
  backend/controllers/userController.js
  backend/routes/users.js
  backend/services/mediaService.js
  frontend/mobile/src/screens/EditProfileScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/authSlice.ts
Owners: @backend-team, @mobile-team, @bryanangeloyaneza

fix: create booking after payment instead of before
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/store/slices/marketplaceSlice.ts
Owners: @mobile-team

fix: properly pass availability status when toggling MyListings toggle/QR actions
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
Owners: @mobile-team

add 'q' search query parameter to validation schema
  backend/validators/marketplace.js
Owners: @backend-team, @bryanangeloyaneza

miscellaneous UI improvements and fixes
  CLAUDE_OPINION_REQUEST.md
  backend/controllers/authController.js
  backend/controllers/notificationsController.js
  backend/prisma/schema.prisma
  backend/services/cache.js
  backend/services/expoPush.js
  frontend/mobile/App.tsx
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetails.tsx
  frontend/mobile/src/services/notifications.ts
  frontend/mobile/src/types/index.ts
Owners: @parkpal-team, @backend-team, @database-admin, @mobile-team, @bryanangeloyaneza, @frontend-team

fix: add auto-expand radius fallback for search results (#117)
  CLAUDE_OPINION_REQUEST.md
  ROADMAP.md
  STATUS_REPORT.md
  backend/controllers/marketplaceController.js
  backend/prisma/migrations/20260409000000_add_title_to_parking_slot/migration.sql
  backend/prisma/schema.prisma
  backend/validators/marketplace.js
  frontend/mobile/.env.local
  frontend/mobile/src/screens/BookingConfirmed.tsx
  frontend/mobile/src/screens/DesignSystem.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/screens/SearchFilters.tsx
  frontend/mobile/src/screens/WriteReview.tsx
  frontend/mobile/src/store/slices/parkingSlice.ts
Owners: @parkpal-team, @backend-team, @database-admin, @bryanangeloyaneza, @devops-team, @mobile-team

fix: add search query parameter validation (#118)
  backend/validators/marketplace.js
Owners: @backend-team, @bryanangeloyaneza

fix: properly pass availability status when toggling MyListings toggle/QR actions (#119)
  frontend/mobile/src/screens/ListYourSpot.tsx
  frontend/mobile/src/screens/MyListingsScreen.tsx
Owners: @mobile-team

fix: create booking after payment instead of before (#120)
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/ReserveSpot.tsx
  frontend/mobile/src/store/slices/marketplaceSlice.ts
Owners: @mobile-team

feat: profile picture upload functionality (#121)
  backend/controllers/userController.js
  backend/routes/users.js
  backend/services/mediaService.js
  frontend/mobile/src/screens/EditProfileScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/slices/authSlice.ts
Owners: @backend-team, @mobile-team, @bryanangeloyaneza

fix: miscellaneous UI improvements and fixes (#122)
  CLAUDE_OPINION_REQUEST.md
  backend/controllers/authController.js
  backend/controllers/notificationsController.js
  backend/prisma/schema.prisma
  backend/services/cache.js
  backend/services/expoPush.js
  frontend/mobile/App.tsx
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetails.tsx
  frontend/mobile/src/services/notifications.ts
  frontend/mobile/src/types/index.ts
Owners: @parkpal-team, @backend-team, @database-admin, @mobile-team, @bryanangeloyaneza, @frontend-team

fix(mobile): Multiple mobile app improvements
  CLAUDE_OPINION_REQUEST.md
  STATUS_REPORT.md
  backend/services/mediaService.js
  backend/test-db-access-debug.js
  backend/test-db-access.js
  backend/test-docker-db.js
  backend/test-pg-direct.js
  backend/test-which-db.js
  frontend/mobile/src/screens/EditProfileScreen.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetails.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/notifications.ts
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @mobile-team

fix(mobile): Multiple mobile app improvements (#123)
  CLAUDE_OPINION_REQUEST.md
  STATUS_REPORT.md
  backend/services/mediaService.js
  backend/test-db-access-debug.js
  backend/test-db-access.js
  backend/test-docker-db.js
  backend/test-pg-direct.js
  backend/test-which-db.js
  frontend/mobile/src/screens/EditProfileScreen.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/screens/HomeDashboard.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/ParkingDetails.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/screens/ProfileScreen.tsx
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/services/notifications.ts
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @mobile-team

feat(mobile): Phase 6A analytics foundation
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/services/analyticsGeofenceService.ts
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/index.ts
  frontend/mobile/src/store/slices/analyticsSlice.ts
  frontend/mobile/src/types/index.ts
Owners: @backend-team, @frontend-team, @mobile-team, @bryanangeloyaneza

feat(mobile): Phase 6A analytics opt-in and geofence wiring
  frontend/mobile/src/components/AnalyticsOptInModal.tsx
  frontend/mobile/src/navigation/AppNavigator.tsx
  frontend/mobile/src/services/api.ts
Owners: @mobile-team, @bryanangeloyaneza

docs: update STATUS_REPORT and ROADMAP for Phase 6A completion
  ROADMAP.md
  STATUS_REPORT.md
Owners: @parkpal-team

docs: add KILO_OPINION_REQUEST for Phase 6A handoff to Kilo Code
  KILO_OPINION_REQUEST.md
Owners: @parkpal-team

fix(backend): align zones response field names with mobile types
  backend/routes/analytics.js
Owners: @backend-team

docs: update STATUS_REPORT with Kilo Code fix and Phase 6B next steps
  STATUS_REPORT.md
Owners: @parkpal-team

feat(mobile): Phase 6A analytics integration (#125)
  KILO_OPINION_REQUEST.md
  ROADMAP.md
  STATUS_REPORT.md
  backend/routes/analytics.js
  frontend/mobile/package-lock.json
  frontend/mobile/package.json
  frontend/mobile/src/components/AnalyticsOptInModal.tsx
  frontend/mobile/src/navigation/AppNavigator.tsx
  frontend/mobile/src/screens/ExploreMap.tsx
  frontend/mobile/src/services/analyticsGeofenceService.ts
  frontend/mobile/src/services/api.ts
  frontend/mobile/src/store/index.ts
  frontend/mobile/src/store/slices/analyticsSlice.ts
  frontend/mobile/src/types/index.ts
Owners: @parkpal-team, @backend-team, @frontend-team, @mobile-team, @bryanangeloyaneza

feat(analytics): Add mobile analytics service layer and geofencing hook
  frontend/mobile/src/hooks/useAnalyticsGeofencing.ts
  frontend/mobile/src/services/analytics.ts
  frontend/mobile/src/services/analyticsApi.ts
Owners: @mobile-team, @bryanangeloyaneza

feat(analytics): Add zone overlay circles and indicator badge on ExploreMap
  frontend/mobile/src/screens/ExploreMap.tsx
Owners: @mobile-team

feat: auto-release for open-time bookings, cash payment UX fixes, bookings tab filtering
  STATUS_REPORT.md
  backend/index.js
  backend/package.json
  backend/prisma/add-analytics-zones.js
  backend/prisma/seed.js
  backend/routes/analytics.js
  backend/services/bookingExpiry.js
  backend/tests/bookingExpiry.test.js
  delete-booking-2.js
  frontend/mobile/src/components/vehicle/CarPreview.tsx
  frontend/mobile/src/components/vehicle/ColorPicker.tsx
  frontend/mobile/src/components/vehicle/MakeModelSelector.tsx
  frontend/mobile/src/components/vehicle/YearSelector.tsx
  frontend/mobile/src/components/vehicle/index.ts
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/AddVehicleWizardScreen.tsx
  frontend/mobile/src/screens/BookingConfirmed.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/MyVehiclesScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/types/index.ts
  frontend/mobile/src/utils/licensePlateFormats.ts
  frontend/mobile/src/utils/vehicleData.ts
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin, @qa-team, @mobile-team

docs: update CLAUDE_OPINION_REQUEST.md with May 2 changes
  CLAUDE_OPINION_REQUEST.md
Owners: @parkpal-team

fix: critical security vulnerabilities - C1 through C6
  KILO_OPINION_REQUEST.md
  backend/controllers/marketplaceController.js
  backend/controllers/paymentsController.js
  backend/index.js
  backend/routes/analytics.js
  backend/routes/marketplace.js
  backend/routes/payments.js
  backend/services/paymongo.js
  backend/tests/payments.test.js
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @qa-team

docs: update KILO_OPINION_REQUEST.md with critical security fixes
  KILO_OPINION_REQUEST.md
Owners: @parkpal-team

feat: auto-release for open-time bookings, cash payment UX fixes, bookings tab filtering
  STATUS_REPORT.md
  backend/index.js
  backend/package.json
  backend/prisma/add-analytics-zones.js
  backend/prisma/seed.js
  backend/routes/analytics.js
  backend/services/bookingExpiry.js
  backend/tests/bookingExpiry.test.js
  delete-booking-2.js
  frontend/mobile/src/components/vehicle/CarPreview.tsx
  frontend/mobile/src/components/vehicle/ColorPicker.tsx
  frontend/mobile/src/components/vehicle/MakeModelSelector.tsx
  frontend/mobile/src/components/vehicle/YearSelector.tsx
  frontend/mobile/src/components/vehicle/index.ts
  frontend/mobile/src/navigation/MainStack.tsx
  frontend/mobile/src/screens/AddVehicleWizardScreen.tsx
  frontend/mobile/src/screens/BookingConfirmed.tsx
  frontend/mobile/src/screens/MyBookingsScreen.tsx
  frontend/mobile/src/screens/MyVehiclesScreen.tsx
  frontend/mobile/src/screens/PaymentScreen.tsx
  frontend/mobile/src/types/index.ts
  frontend/mobile/src/utils/licensePlateFormats.ts
  frontend/mobile/src/utils/vehicleData.ts
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin, @qa-team, @mobile-team

Fix: Require auth on search endpoint, parse photos JSON in getHostListings
  backend/controllers/marketplaceController.js
  backend/routes/marketplace.js
Owners: @backend-team

fix: critical security vulnerabilities - C1 through C6
  KILO_OPINION_REQUEST.md
  backend/controllers/marketplaceController.js
  backend/controllers/paymentsController.js
  backend/index.js
  backend/routes/analytics.js
  backend/routes/marketplace.js
  backend/routes/payments.js
  backend/services/paymongo.js
  backend/tests/payments.test.js
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @qa-team

docs: update CLAUDE_OPINION_REQUEST.md with May 2 changes
  CLAUDE_OPINION_REQUEST.md
Owners: @parkpal-team

ui: remove duplicate create listing button in MyListingsScreen
  backend/controllers/paymentsController.js
  backend/routes/payments.js
  backend/validators/payments.js
  frontend/mobile/src/screens/MyListingsScreen.tsx
Owners: @backend-team, @bryanangeloyaneza, @mobile-team

feat(analytics): Add mobile analytics service layer and geofencing hook
  frontend/mobile/src/hooks/useAnalyticsGeofencing.ts
  frontend/mobile/src/services/analytics.ts
  frontend/mobile/src/services/analyticsApi.ts
Owners: @mobile-team, @bryanangeloyaneza

feat(analytics): Add zone overlay circles and indicator badge on ExploreMap
  frontend/mobile/src/screens/ExploreMap.tsx
Owners: @mobile-team

docs: update KILO_OPINION_REQUEST.md with critical security fixes
  KILO_OPINION_REQUEST.md
Owners: @parkpal-team

feat(points): add loyalty points and referral system (Phase 1)
  backend/controllers/pointsController.js
  backend/prisma/migrations/20260503104027_add_loyalty_referral/migration.sql
  backend/prisma/schema.prisma
  backend/routes/points.js
  backend/routes/v1/index.js
  backend/tests/points.test.js
  backend/tests/setup.js
  backend/validators/points.js
Owners: @backend-team, @database-admin, @qa-team, @bryanangeloyaneza

chore: remove deprecated loyalty_referral_schema migration
  backend/prisma/migrations/add_loyalty_referral_schema/migration.sql
Owners: @database-admin

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team
