Repository ParknQuik/ParkPal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @database-admin, @frontend-team, @mobile-team, @documentation-team, @devops-team, @security-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS file for ParkPal Project
#
# This file defines who owns specific parts of the codebase
# and will be automatically requested for review when PRs touch their areas
#
# Format: path/to/file @username-or-team
#
# More info: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global fallback owners (will be requested if no specific owner matches)
* @parkpal-team

# Backend
/backend/ @backend-team @bryanangeloyaneza
/backend/prisma/ @database-admin @bryanangeloyaneza
/backend/controllers/ @backend-team
/backend/routes/ @backend-team
/backend/services/ @backend-team

# Frontend Web
/frontend/web/ @frontend-team @bryanangeloyaneza
/frontend/web/src/components/ @frontend-team
/frontend/web/src/pages/ @frontend-team
/frontend/web/src/services/ @frontend-team

# Frontend Mobile
/frontend/mobile/ @mobile-team @bryanangeloyaneza
/frontend/mobile/src/screens/ @mobile-team
/frontend/mobile/src/components/ @mobile-team
/frontend/mobile/src/navigation/ @mobile-team
/frontend/mobile/src/store/ @mobile-team

# Documentation
/docs/ @documentation-team @bryanangeloyaneza
README.md @documentation-team @bryanangeloyaneza

# DevOps & CI/CD
/.github/ @devops-team @bryanangeloyaneza
/.github/workflows/ @devops-team
/backend/start.sh @devops-team
/frontend/*/start*.sh @devops-team

# Configuration Files
*.json @backend-team @frontend-team
*.config.js @backend-team @frontend-team
.env.* @devops-team @backend-team

# Database
/backend/prisma/schema.prisma @database-admin @backend-team
/backend/prisma/migrations/ @database-admin

# Security
/backend/.env.* @security-team @devops-team
/backend/services/auth.js @security-team @backend-team

# API Documentation
/docs/API.md @backend-team @documentation-team
/backend/swagger.js @backend-team

# Tests
**/*.test.js @qa-team
**/*.test.ts @qa-team
**/*.test.tsx @qa-team
**/*.spec.js @qa-team
**/*.spec.ts @qa-team

fix(web): Use correct @vitest/coverage-v8 version matching vitest 3.2.4
  frontend/web/package-lock.json
  frontend/web/package.json
Owners: @backend-team, @frontend-team

fix(ci): Add health checks and fix coverage enforcer
  .github/workflows/performance-testing.yml
  test-automator/scripts/test-coverage-enforcer.js
Owners: @devops-team, @parkpal-team

feat(docs): Implement everything-claude-code structure
  .claude/agents/architect.md
  .claude/agents/code-reviewer.md
  .claude/agents/planner.md
  .claude/agents/refactor-cleaner.md
  .claude/agents/security-reviewer.md
  .claude/agents/tdd-guide.md
  .claude/commands/plan.md
  .claude/commands/tdd.md
  .claude/rules/git-workflow.md
  .claude/rules/security.md
  .claude/rules/testing.md
  .claude/session-start-instructions.md
  .claude/skills/backend-patterns.md
  .claude/skills/coding-standards.md
  CLAUDE.md
Owners: @parkpal-team

chore(backend): Add coverage directory to .gitignore
  backend/.gitignore
Owners: @backend-team, @bryanangeloyaneza

fix(web): Add missing test dependencies to package.json
  frontend/web/package-lock.json
  frontend/web/package.json
Owners: @backend-team, @frontend-team

Feat/comprehensive testing infrastructure (#50)
  BRANCH_SUMMARY.md
  frontend/web/package-lock.json
  frontend/web/package.json
Owners: @parkpal-team, @backend-team, @frontend-team

chore: Add test coverage and build artifacts to .gitignore
  .gitignore
  backend/.gitignore
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza

chore(ci): Simplify GitHub Actions workflows for MVP development
  .github/workflows/performance-testing.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-coverage.yml
Owners: @devops-team

chore(ci): Simplify GitHub Actions workflows for MVP development (#52)
  .github/workflows/performance-testing.yml
  .github/workflows/pr-checks.yml
  .github/workflows/test-coverage.yml
Owners: @devops-team

feat(backend): Add photo upload foundation with GCP Cloud Storage
  backend/.env.example
  backend/ENV_SETUP.md
  backend/controllers/mediaController.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20260124041125_add_photos_table/migration.sql
  backend/prisma/schema.prisma
  backend/routes/media.js
  backend/routes/v1/index.js
  backend/services/mediaService.js
  backend/validators/media.js
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin

feat(backend): Add photo upload foundation with GCP Cloud Storage (#53)
  backend/.env.example
  backend/ENV_SETUP.md
  backend/controllers/mediaController.js
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20260124041125_add_photos_table/migration.sql
  backend/prisma/schema.prisma
  backend/routes/media.js
  backend/routes/v1/index.js
  backend/services/mediaService.js
  backend/validators/media.js
Owners: @security-team, @devops-team, @backend-team, @bryanangeloyaneza, @frontend-team, @database-admin

fix(mobile): Sync package-lock.json with package.json
  frontend/mobile/package-lock.json
Owners: @backend-team, @frontend-team

fix(mobile): Sync package-lock.json with package.json (#54)
  frontend/mobile/package-lock.json
Owners: @backend-team, @frontend-team

feat(analytics): Add Phase 6 analytics foundation - geofencing and session tracking
  backend/package-lock.json
  backend/package.json
  backend/routes/analytics.js
  backend/routes/v1/index.js
  backend/services/geofencing.js
  backend/services/parkingSessionTracking.js
Owners: @backend-team, @frontend-team

feat(analytics): Add Joi validation and geofencing tests
  backend/routes/analytics.js
  backend/tests/geofencing.test.js
  backend/validators/analytics.js
Owners: @backend-team, @qa-team, @bryanangeloyaneza

test(analytics): Add comprehensive parking session tracking tests
  backend/tests/parkingSessionTracking.test.js
Owners: @qa-team

fix(analytics): Fix Jest ESM issues and geofencing tests
  backend/package-lock.json
  backend/package.json
  backend/services/geofencing.js
  backend/tests/geofencing.test.js
Owners: @backend-team, @frontend-team, @qa-team

test(analytics): Add comprehensive API route tests
  backend/tests/analytics.test.js
Owners: @qa-team

docs(analytics): Add comprehensive testing status document
  backend/ANALYTICS_TEST_STATUS.md
Owners: @backend-team, @bryanangeloyaneza

fix(backend): Fix media route paths and enforce 5-photo limit
  backend/controllers/mediaController.js
  backend/routes/media.js
  backend/tests/media.test.js
Owners: @backend-team, @qa-team

feat(mobile): Integrate GCS photo upload into ListSpotScreen
  frontend/mobile/src/components/PhotoUploader.tsx
  frontend/mobile/src/screens/ListSpotScreen.tsx
  frontend/mobile/src/services/mediaApi.ts
Owners: @mobile-team, @bryanangeloyaneza

feat(mobile): Add forgot password and reset password screens
  frontend/mobile/src/navigation/AuthStack.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/ForgotPasswordScreen.tsx
  frontend/mobile/src/screens/ResetPasswordScreen.tsx
  frontend/mobile/src/services/api.ts
Owners: @mobile-team, @bryanangeloyaneza

fix(backend): Fix media route paths and enforce 5-photo limit (#55)
  backend/ANALYTICS_TEST_STATUS.md
  backend/controllers/mediaController.js
  backend/package-lock.json
  backend/package.json
  backend/routes/analytics.js
  backend/routes/media.js
  backend/routes/v1/index.js
  backend/services/geofencing.js
  backend/services/parkingSessionTracking.js
  backend/tests/analytics.test.js
  backend/tests/geofencing.test.js
  backend/tests/media.test.js
  backend/tests/parkingSessionTracking.test.js
  backend/validators/analytics.js
Owners: @backend-team, @bryanangeloyaneza, @frontend-team, @qa-team

feat(mobile): Integrate GCS photo upload into ListSpotScreen (#56)
  frontend/mobile/src/components/PhotoUploader.tsx
  frontend/mobile/src/screens/ListSpotScreen.tsx
  frontend/mobile/src/services/mediaApi.ts
Owners: @mobile-team, @bryanangeloyaneza

feat(mobile): Add forgot password and reset password screens (#57)
  frontend/mobile/src/navigation/AuthStack.tsx
  frontend/mobile/src/screens/AuthScreen.tsx
  frontend/mobile/src/screens/ForgotPasswordScreen.tsx
  frontend/mobile/src/screens/ResetPasswordScreen.tsx
  frontend/mobile/src/services/api.ts
Owners: @mobile-team, @bryanangeloyaneza

docs: Update status report and branch summary for P1 completion
  BRANCH_SUMMARY.md
  JANUARY_2026_STATUS_REPORT.md
Owners: @parkpal-team

test(analytics): Fix all 88 analytics tests - 100% passing
  backend/routes/analytics.js
  backend/services/parkingSessionTracking.js
  backend/tests/analytics.test.js
  backend/tests/parkingSessionTracking.test.js
Owners: @backend-team, @qa-team

feat: Add GCP Cloud Run deployment configuration
  backend/.dockerignore
  backend/Dockerfile.production
  backend/cloudbuild.yaml
  backend/prisma/schema.prisma
Owners: @backend-team, @bryanangeloyaneza, @database-admin

docs: Consolidate architecture documentation
  ARCHITECTURE_CONSOLIDATION.md
  docs/ARCHITECTURE.md
  frontend/mobile/ARCHITECTURE_DIAGRAM.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza, @mobile-team

chore: Remove obsolete documentation files
  .claude/session-start-instructions-NEW.md
  .claude/session-start-instructions.md
  BRANCH_SUMMARY.md
  DOCS_REORGANIZATION_JAN_12.md
  backend/P1_TESTING_RESULTS.md
  backend/TEST_RESULTS.md
  docs/claude.md
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @documentation-team

docs: Add photo upload integration documentation
  frontend/mobile/PHOTO_UPLOAD_INTEGRATION.md
Owners: @mobile-team, @bryanangeloyaneza

docs: Add GCP migration guide and deployment tracking
  DEPLOYMENT_CHECKLIST.md
  DEPLOYMENT_PROGRESS.md
  MIGRATION_GUIDE.md
  STAGING_CREDENTIALS.md
Owners: @parkpal-team

Chore/cleanup obsolete docs (#60)
  .claude/session-start-instructions-NEW.md
  .claude/session-start-instructions.md
  BRANCH_SUMMARY.md
  DOCS_REORGANIZATION_JAN_12.md
  backend/P1_TESTING_RESULTS.md
  backend/TEST_RESULTS.md
  docs/claude.md
Owners: @parkpal-team, @backend-team, @bryanangeloyaneza, @documentation-team

Docs/architecture cleanup (#61)
  ARCHITECTURE_CONSOLIDATION.md
  docs/ARCHITECTURE.md
  frontend/mobile/ARCHITECTURE_DIAGRAM.md
Owners: @parkpal-team, @documentation-team, @bryanangeloyaneza, @mobile-team

Docs/photo upload integration (#62)
  frontend/mobile/PHOTO_UPLOAD_INTEGRATION.md
Owners: @mobile-team, @bryanangeloyaneza

feat: Add GCP Cloud Run deployment configuration (#63)
  backend/.dockerignore
  backend/Dockerfile.production
  backend/cloudbuild.yaml
  backend/prisma/schema.prisma
Owners: @backend-team, @bryanangeloyaneza, @database-admin

docs: Add comprehensive migration and deployment guides (#64)
  DEPLOYMENT_CHECKLIST.md
  DEPLOYMENT_PROGRESS.md
  MIGRATION_GUIDE.md
  STAGING_CREDENTIALS.md
Owners: @parkpal-team

ci: Add automated CD pipeline for backend deployments
  .github/workflows/deploy-backend.yml
  CD_PIPELINE_PLAN.md
Owners: @devops-team, @parkpal-team

ci: Add automated CD pipeline for backend deployments (#65)
  .github/workflows/deploy-backend.yml
  CD_PIPELINE_PLAN.md
Owners: @devops-team, @parkpal-team

test: Trigger CD pipeline deployment
  backend/index.js
Owners: @backend-team, @bryanangeloyaneza
